//
// Color type-1
// --------------------------------------------------

//brand-colors
$base-color-lighten-1: #e6f2f2;
$base-color-lighten-1-dark: darken($base-color-lighten-1, 10%);

$base-color-lighten: #c3e5e5;
$base-color-light: #459fd9;
$base-color-main: #00b9ff;
$base-color-dark: #1e81c5;
$base-color-darken: #204040;


//brand-info
$color-type-1a: #0082d5;
$color-type-1b: #297ca6;
$color-type-1c: #1e61a6;

//brand-danger
$color-type-2a: #e55c5c;
$color-type-2b: #d93636;
$color-type-2c: #f3535a;

//brand-warning
$color-type-3a: #ffaa00;
$color-type-3b: #ff9500;
$color-type-3c: #ff7f00;

//brand-success
$color-type-4a: #60bc98;
$color-type-4b: #53a661;
$color-type-4c: #269973;

//brand-info
$color-type-6a: #41b5cc;
$color-type-6b: #cad3df;

//black&white
$white-lighten: #fff;
$white: #fafafa;
$white-darken: #f0f0f0;

$gray-lighten: #eee;
$gray: #acb0bf;
$gray-darken: #555555;
$gray-darken-1: #bbb;
$gray-darken-2: #777;

$black: #222;
$black-darken: #000;
