.breadcrumbs
  .container
    .breadcrumbs__item
        a.breadcrumbs__link(href="/"): i.is-icons.is-icons--house
    .breadcrumbs__item
        a.breadcrumbs__link(href="#") О Бизнес Парке
    .breadcrumbs__item.active= title
