.card-list.is-row.mobile-slider
  .card-list__item.is-col
    i.is-icons.is-icons--condicioner
    .mt30.tooltip--js(data-tooltip='Влажная уборка офисных помещений два раза в неделю.')
      b Кондиционер
      .tooltip
  .card-list__item.is-col
    i.is-icons.is-icons--light
    .mt30.tooltip--js(data-tooltip='Влажная уборка офисных помещений два раза в неделю.')
      b коммунальные платежи
      .tooltip
  .card-list__item.is-col
    i.is-icons.is-icons--security
    .mt30.tooltip--js(data-tooltip='Влажная уборка офисных помещений два раза в неделю.')
      b охрана
      .tooltip
  .card-list__item.is-col
    i.is-icons.is-icons--cleaning
    .mt30.tooltip--js(data-tooltip='Влажная уборка офисных помещений два раза в неделю.')
      b уборка
      .tooltip
  .card-list__item.is-col
    i.is-icons.is-icons--camera
    .mt30.tooltip--js(data-tooltip='Влажная уборка офисных помещений два раза в неделю.')
      b Видеонаблюдение
      .tooltip
  .card-list__item.is-col
    i.is-icons.is-icons--door
    .mt30.tooltip--js(data-tooltip='Влажная уборка офисных помещений два раза в неделю.')
      b контроль доступа
      .tooltip
  .card-list__item.is-col
    i.is-icons.is-icons--stroller
    .mt30.tooltip--js(data-tooltip='Влажная уборка офисных помещений два раза в неделю.')
      b доступная среда
      .tooltip
  .card-list__item.is-col
    i.is-icons.is-icons--fan
    .mt30.tooltip--js(data-tooltip='Влажная уборка офисных помещений два раза в неделю.')
      b приточно-вытяжная вентиляция
      .tooltip
  .card-list__item.is-col
    i.is-icons.is-icons--bill
    .mt30.tooltip--js(data-tooltip='Влажная уборка офисных помещений два раза в неделю.')
      b с ндс или без Ндс
      .tooltip
