h1.text--grey Параметры
.is-col__xl-7.is-col__lg-10
  form
    .is-row.ffbold.text--uppercase
      .is-col.is-col__lg-6.mb20
        .radio
          input(type='radio', name='filterpack', id='office')
          label.label(for='office') Офисы
      .is-col.is-col__lg-6.mb20
        .radio 
          input(type='radio', name='filterpack', id='offices')
          label.label(for='offices') офис+Склад
      .is-col.is-col__lg-6.mb20
        .radio
          input(type='radio', name='filterpack', id='stock')
          label.label(for='stock') Склады
    ul.list--inline
      li
        select.control
          option корпус
          option корпус
          option корпус
      li
        select.control
          option Этаж
          option Этаж
          option Этаж
    .rangeslider
      .rangeslider-value
        .mb20 площадь
          .rangeslider-values от #[.values#skip-value-lower] до #[.values#skip-value-upper]
      .rangeslider-main  
        #range
    .rangeslider
      .rangeslider-value
        .mb20 Цена
          .rangeslider-values от #[.values#pskip-value-lower] до #[.values#pskip-value-upper]
      .rangeslider-main  
        #rangep
    .card-info-links.card-info-links--filter
      .card-info-links__item.tableb-mobile
        button.btn.btn--unreal.btn--primary.btn__lg(type='submit') Показать
      .card-info-links__item.tableb-mobile
        button#reset--js.btn.btn--outlined.btn__lg(type='reset') Сбросить
