h3 Фотогалерея
.is-row.is-row--sm.popup-gallery.gallery
  .is-col.is-col__md-4.is-col__xs-6: a(href='images/big.jpg', title="Организация бизнес-ланчей")
    .gallery-txt Организация #[br] бизнес-ланчей
    img(src='images/gallery-1.jpg', alt='')
  .is-col.is-col__md-4.is-col__xs-6: a(href='images/big.jpg', title="Организация бизнес-ланчей")
    .gallery-txt Организация #[br]  бизнес-ланчей
    img(src='images/gallery-2.jpg', alt='')
  .is-col.is-col__md-4.is-col__xs-6: a(href='images/big.jpg', title="Организация бизнес-ланчей")
    .gallery-txt Организация #[br] бизнес-ланчей
    img(src='images/gallery-3.jpg', alt='')
  .is-col.is-col__md-4.is-col__xs-6: a(href='images/big.jpg', title="Организация бизнес-ланчей")
    .gallery-txt Организация #[br] бизнес-ланчей
    img(src='images/gallery-4.jpg', alt='')
  .is-col.is-col__md-4.is-col__xs-6: a(href='images/big.jpg', title="Организация бизнес-ланчей")
    .gallery-txt Организация #[br] бизнес-ланчей
    img(src='images/gallery-5.jpg', alt='')
