nav.nav.is-col
    if adaptive == true
        button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
            i.is-icons.is-icons--menu
        .main-nav__collapse
          .main-nav__close.main-nav__close--js
            i.is-icons.is-icons--close
          +menu(navigation)
          .hidden__md.hidden__lg.hidden__xl
            .page-header__link.is-col.mt20
              i.is-icons.is-icons--PDF
              a(href='#') Презентация комплекса
            .page-header__link.is-col.mt20
              i.is-icons.is-icons--Phone
              a.popup(href='#form-id') обратный звонок
          .main-nav__collapse-footer.hidden__md.hidden__lg.hidden__xl
            .is-row.between__xs.middle__xs
              .is-col 
                .socials
                  .socials__item: a(href='#'): i.icon-f
                  .socials__item: a(href='#'): i.icon-insta
                  .socials__item: a(href='#'): i.icon-vk
              .is-col
                a.text--uppercase.text--grey(href='#')= index.footer 

    else
        +menu(navigation)
