#form-id.mfp-hide.zoom-anim-dialog
    .main-popup.main-popup--md.main-popup--bg.main-popup--sd
      .main-popup-header
        .main-popup-title
          h2 Заказать обратный звонок
        form(action="#" method="method")
          .is-row.top__xs
            .is-col.is-col__md-6.is-col__xs-12
              .form__group
                label.label Ваше имя
                input.control(type='text', placeholder='Иванов иван иванович', name='name')      
            .is-col.is-col__md-6.is-col__xs-12
              .form__group
                label.label Телефон
                input.control(type='text', placeholder='+7 (___) ___-__-__', name='phone')
          .form__group
            .checkbox
              input(type='checkbox', name='useron', id='useron')
              label.label(for='useron') Я согласен на обработку моих персональных данных. #[a(href='#') Политика обработки персональных данных]
          .text--center
            button.btn.btn--primary.btn__lg(type='submit') перезвоните мне

#plan-id.mfp-hide.zoom-anim-dialog
    .main-popup.main-popup--md.main-popup--bg.main-popup--sd
      .main-popup-header
        .main-popup-title  
          h2 Отправить план помещения на E-mail
        form(action="#" method="method")
          .is-row.top__xs
            .is-col.is-col__md-6.is-col__xs-12
              .form__group
                label.label Ваше имя
                input.control(type='text', placeholder='Иванов иван иванович', name='name')  
            .is-col.is-col__md-6.is-col__xs-12
              .form__group
                label.label Телефон
                input.control(type='text', placeholder='+7 (___) ___-__-__', name='phone')      
            .is-col.is-col__md-6.is-col__xs-12
              .form__group
                label.label Организация
                input.control(type='text', placeholder='ооо интурист', name='firm')
            .is-col.is-col__md-6.is-col__xs-12
              .form__group
                label.label E-mail
                input.control(type='email', placeholder='info@mail.ru', name='email')      
          .form__group
            .checkbox
              input(type='checkbox', name='useron1', id='useron1')
              label.label(for='useron1') Я согласен на обработку моих персональных данных. #[a(href='#') Политика обработки персональных данных]
          .text--center
            button.btn.btn--primary.btn__lg(type='submit') отправьте мне план помещения
            
#question-id.mfp-hide.zoom-anim-dialog
    .main-popup.main-popup--lg.main-popup--bg.main-popup--sd
      .main-popup-header
        .main-popup-title
          h2 Задать вопрос
        form(action="#" method="method")
          .is-row.top__xs
            .is-col.is-col__md-4.is-col__xs-12
              .form__group
                label.label Ваше имя
                input.control(type='text', placeholder='Иванов иван иванович', name='name')      
            .is-col.is-col__md-4.is-col__xs-12
              .form__group
                label.label Организация
                input.control(type='text', placeholder='ооо интурист', name='firm')
            .is-col.is-col__md-4.is-col__xs-12
              .form__group
                label.label E-mail
                input.control(type='email', placeholder='info@mail.ru', name='email')      
            .is-col.is-col__xs-12
              .form__group
                label.label Ваше сообщение
                textarea.control(placeholder='ваше сообщение или вопрос', name='mess', rows='8')      
          .is-row.middle__xs.between__xs
            .is-col.is-col__md-4.is-col__xs-12
              .form__group
                .radio
                  input(type='radio', name='useron2', id='useron2')
                  label.label(for='useron2') Я согласен на обработку моих персональных данных. #[br] #[a(href='#') Политика обработки персональных данных]
            .is-col.is-col__md-3.is-col__xs-12
              .form__group
                .checkbox
                  input(type='checkbox', name='add', id='add')
                  label.label(for='add') заказать типовой договор
            .is-col.is-col__md-4.is-col__xs-12
              .form__group
                .text--center.text__md--right
                  button.btn.btn--primary.btn__lg(type='submit') отправить сообщение
                  
#search-id.mfp-hide.zoom-anim-dialog
    .main-popup.main-popup--md
      .text--center.search-bar
        h2 Введите свой запрос
        form(action="#" method="method") 
          .relative
            input.control.control-search(type='search', placeholder='например, торговое помещение...', name='search')
            button.search-me--js(type='submit')
              i.is-icons.is-icons--search-lg
    //upload content - using ajax
    .main-popup--bg.main-popup--bgab
      .main-popup.main-popup--md.search-results
        h2.search-results-title По запросу «Торговое помещение» 
        .search-results-subtitle.text__md.text--uppercase найдено #[b 68] результатов
        - for (var x = 1; x < 3; x++)
          a.search-results__item.is-row.stretch__xs(href='#')
            .search-results__item-img.is-col.is-col__sm-3.is-col__xs-5
              .helper Объект
              img(src='images/search.jpg', alt='')
            .search-results__item-desc.is-col.is-col__xl-6.is-col__lg-5.is-col__sm-9.is-col__xs-7
              b.flex-top.text--uppercase Корпус d 145 квадратных метров на втором этаже
          a.search-results__item.is-row.stretch__xs(href='#')
            .search-results__item-img.is-col.is-col__sm-3.is-col__xs-5
              .helper Новость
              img(src='images/search.jpg', alt='')
            .search-results__item-desc.is-col.is-col__xl-6.is-col__lg-5.is-col__sm-9.is-col__xs-7
              b.flex-top.text--uppercase Бизнес Парк имеет превосходную  транспортную доступность
              .flex-end.text--grey
                i.icon-clock
                span.text__sm 23 февраля 2017, 07:49

#prices-id.mfp-hide.main-popup.main-popup--md.main-popup--bg.main-popup--sd.zoom-anim-dialog
    .main-popup-header
      p.mb50 Лайтбоксы расположены в холле главного здания Бизнес центра, а так же на лестничных пролётах с первого по третий этажи. Размер изображения 800х1200 мм.
      h4.mb30 Расценки
    .main-popup-body
      table.table.text--uppercase.ffbold.table--mobile
        thead
          tr 
            th Место расположения  в Бизнес центре
            th 6 месяцев  руб / месяц
            th 3-6 месяцев  руб / месяц
            th 1-3 месяца руб / месяц
        tbody
          tr.text--grey
            td 1й этаж
            td(data-th="1-3 месяца, руб / месяц") 4 000
            td(data-th="3-6 месяцев, руб / месяц") 4 600
            td(data-th="6 месяцев, руб / месяц") 5 000
