table.table.table--hover.table--mobile.table--mobile-anim.table-sort.text--uppercase.ffbold
  thead
    tr
      th.tooltip--js(data-tooltip='Сортировка: А-Я')
        span Литер
        i.is-icons.is-icons--sort-arr
        .tooltip.popover--right.popover__sm
      th.sorter-false номер
      th.sorter-false этаж
      th.tooltip--js(data-tooltip='Сортировка: 1-10')
        span площадь
        i.is-icons.is-icons--sort-arr
        .tooltip.popover--right.popover__sm
      th.tooltip--js(data-tooltip='Сортировка: 1-10')
         span Цена
         i.is-icons.is-icons--sort-arr
         .tooltip.popover--right.popover__sm
      th.sorter-false
  tbody.text--grey
    - for (var x = 1; x < 5; x++)
      tr
        td(data-th="Литер") A
        td(data-th="номер")
          span 1 488 с кондиционером
          .relative.inlineb
            i.icon-help-circled.popover--js(data-popover='В помещении имеются панорамные окна от поладо потолка. Естественное освещение на протяжении всего рабочего дня.', data-btn='задать вопрос', data-href='#question-id') 
            .popover.popover--right
        td(data-th="этаж") 1
        td(data-th="площадь") 700м#[sup 2]
        td(data-th="Цена") 750р/м#[sup 2]
        td
          a(href='#') 
            span подробнее
            i.icon-right-open
      tr
        td(data-th="Литер") B
        td(data-th="номер") 
          span 1 632
          .relative.inlineb
            i.icon-help-circled.popover--js(data-popover='В помещении имеются панорамные окна от поладо потолка. Естественное освещение на протяжении всего рабочего дня.', data-btn='задать вопрос', data-href='#question-id') 
            .popover.popover--right
        td(data-th="этаж") 2
        td(data-th="площадь") 450м#[sup 2]
        td(data-th="Цена") 2 320р/м#[sup 2]
        td
          a(href='#') 
            span подробнее
            i.icon-right-open
      tr
        td(data-th="Литер") C
        td(data-th="номер") 
          span 360
          .relative.inlineb
            i.icon-help-circled.popover--js(data-popover='В помещении имеются панорамные окна от поладо потолка. Естественное освещение на протяжении всего рабочего дня.', data-btn='задать вопрос', data-href='#question-id') 
            .popover.popover--right
        td(data-th="этаж") 2
        td(data-th="площадь") 187м#[sup 2]
        td(data-th="Цена") 900р/м#[sup 2]
        td
          a(href='#') 
            span подробнее
            i.icon-right-open
      tr
        td(data-th="Литер") D
        td(data-th="номер") 
          span 1 740
          .relative.inlineb
            i.icon-help-circled.popover--js(data-popover='В помещении имеются панорамные окна от поладо потолка. Естественное освещение на протяжении всего рабочего дня.', data-btn='задать вопрос', data-href='#question-id') 
            .popover.popover--right
        td(data-th="этаж") 5 
        td(data-th="площадь") 80м#[sup 2]
        td(data-th="Цена") 1 450р/м#[sup 2]
        td
          a(href='#') 
            span подробнее
            i.icon-right-open
