table.table.table--hover.text--uppercase.ffbold
  thead
    tr
      th Здание
      th номер
      th этаж
      th площадь
      th Цена
  tbody.text--grey
    - for (var x = 1; x < 3; x++)
      tr
        td A
        td 1 488 с кондиционером
        td 1
        td 700м#[sup 2]
        td 750р/м#[sup 2]
      tr
        td B
        td 1 632
        td 2
        td 450м#[sup 2]
        td 2 320р/м#[sup 2]
      tr
        td C
        td 360
        td 2
        td 187м#[sup 2]
        td 900р/м#[sup 2]
      tr
        td D
        td 1 740
        td 5
        td 80м#[sup 2]
        td 1 450р/м#[sup 2]
