//
// Base -> Scaffolding
// --------------------------------------------------

//
// Make all elements box-sizing
//
* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//
// Delete focus border
//
a:active, a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button:active, button:focus {outline: none;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}

//
// Clearfix
//
.clearfix {
  @include clearfix();
}

//
// HTML
//
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @media screen and (min-width: $screen-md) {
    // overflow-x: hidden;
  }
}

//
// Basic typography styles
//
body {
  background-color: $base-background;
  color: $base-color;
  font-weight: $base-font-weight;
  font-size: 12px;
  font-family: $base-font-family;
  line-height: $base-line-height;
  position: relative;

  @media screen and (min-width: $screen-xl) {
    font-size: $base-font-size;
  }
}

.page-index {
  overflow-x: hidden;
}
.page-fix {
  overflow: hidden;
}


//
// Link
//
a {
  color: $link-color;
  @include transition;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

//
// Images
//
img {
  max-width: 100%;
  height: auto;
}


//
// Display none
//
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}

.ad-fonts {
  // font-size: 10px;
  // @media screen and (min-width: $screen-xl) {
  //   font-size: $base-font-size;
  // }
}

sup {
  font-size: 60%;
  position: relative;
  top: -8px;
  left: 2px;
  font-family: 'gilroyregular', sans-serif;
}

.ffbold {
  font-family: 'gilroybold', sans-serif;
}
.ffmed {
  font-family: 'gilroymedium', sans-serif;
}
.ffsemibold {
  font-family: 'gilroysemibold', sans-serif;
}
.ffreg {
  font-family: 'gilroyregular', sans-serif;
}
.ffblack {
  font-family: 'gilroyblack', sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
}
.flex-end {
  margin-top: auto;
}
.flex-center {
  margin-top: auto;
  margin-bottom: auto;
}
.flex-top {
  margin-bottom: auto;
}

.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb50 {
  margin-bottom: 40px;
  @media screen and (min-width: $screen-xl) {
    margin-bottom: 50px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  svg image {
    width: 100%;
  }
}


.vh-height {
  @media screen and (min-width: $screen-md) {
    height: calc(100vh - 202px);
  }
  @media screen and (min-width: $screen-tablet-h) {
    height: calc(100vh - 175px);
  }
  @media screen and (min-width: $screen-lg) {
    height: calc(100vh - 199px);
  }
  @media screen and (min-width: $screen-xl) {
    height: calc(100vh - 216px);
  }
}
