//
// Base -> Buttons
// --------------------------------------------------

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  border: 2px solid transparent;
  @include button-size(16px, $padding-base-horizontal, $base-font-size, 1.7, $btn-border-radius-base);
  @extend .ffbold;
  height: 60px;

  text-transform: uppercase;


  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &--full {
    display: block;
    width: 100%;
    & + & {
      margin-top: 5px;
    }
  }

  &--natural {
    vertical-align:baseline;
    font-size:inherit;
    line-height:inherit;
    padding-right:0.5em;
    padding-left: 0.5em;
  }


  &--default {
    @include button-variant-tr1($btn-default-color, $btn-default-bg, $btn-default-border);
  }


  // Color buttons
  @if $use-btn-color == true {
    &--primary {
      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
    // &--success {
    //   @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
    // }
    // &--info {
    //   @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
    // }
    // &--warning {
    //   @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
    // }
    // &--danger {
    //   @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
    // }
    &--outlined {
      @include button-variant-tr($btn-outlined-color, $btn-outlined-bg, $btn-outlined-border);
    }
  }

  // Button Sizes
  @if $use-btn-size == true {
    &__lg {
      @include button-size(13px, 15px, 12px, 1.4, $btn-border-radius-large);
      height: 66px;
      text-align: left;

      @media screen and (min-width: $screen-md) {
        @include button-size(19px, 32px, 14px, 1.4, $btn-border-radius-large);
      }
      @media screen and (min-width: $screen-xl) {
        @include button-size($padding-large-vertical, $padding-large-horizontal, 14px, 1.4, $btn-border-radius-large);
        height: 95px;
      }
    }
    // &__sm {
    //   @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-btn, $btn-border-radius-small);
    //   height: 40px;
    // }
    // &__xs {
    //   @include button-size($padding-tiny-vertical, $padding-tiny-horizontal, $font-size-tiny, $line-height-btn, $btn-border-radius-small);
    //   height: 35px;
    // }
  }

  &--cond {
    white-space: nowrap;
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &--unreal {
    position: relative;
    display: table-cell;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
    @media screen and (min-width: $screen-lg) {
      padding-left: 0;
      padding-right: 75px;

      &::before {
        content: '';
        background-color: $base-color-main;
        position: absolute;
        top: -2px;bottom: -2px;
        right: 100%;
        width: 150%;

        @include transition;
      }
      &:hover::before {
        background-color: lighten($base-color-main, 8%);
      }
    }
    @media screen and (min-width: $screen-xl) {
      padding-right: 135px;
    }
  }

  // Button group
  @if $use-btn-group == true {
    &-group {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      > .btn {
        position: relative;
        float: left;
        &:first-child {
          margin-left: 0;
          &:not(:last-child) {
            @include border-right-radius(0);
          }
        }
        &:last-child:not(:first-child) {
          @include border-left-radius(0);
        }
        &:not(:first-child):not(:last-child) {
          border-radius: 0;
        }
        + .btn {
          margin-left: -1px;
        }
      }

      &--justified {
        display: table;
        width: 100%;
        table-layout: fixed;
        border-collapse: separate;
        > .btn {
          float: none;
          display: table-cell;
          width: 1%;
        }
      }
    }
  }
}
