//
// Base -> Tables
// --------------------------------------------------


table {
  background-color: $table-bg;
}
caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  text-align: left;
}
th {
  text-align: left;
}


@if $use-table == true {
  // Baseline styles
  .uikit table,
  .table {
    width: 100%;
    letter-spacing: 1.4px;

    img {vertical-align: middle;}
    th,
    td {
      padding: 20px 12px;
      line-height: $base-line-height;
      vertical-align: middle;
      border-bottom: 1px solid $table-border-color;
      @media screen and (min-width: $screen-xl) {
        padding: $table-cell-padding;
      }

    }
    tr:last-child td {
      border-bottom: none;
    }
    > thead th {
      vertical-align: middle;
      // text-align: center;
      border-bottom: none;
    }
    > tbody + tbody {
      border-top: 2px solid $table-border-color;
    }
    > tfoot td {
        border-top: 1px solid $table-border-color;
    }
    .table {
      background-color: $base-background;
    }

    // Condensed table w/ half padding
    &--condensed {
      th,
      td {
        padding: $table-condensed-cell-padding;
      }
    }

    // Bordered version
    &--bordered {
      border: 1px solid $table-border-color;
      th,
      td {
        border: 1px solid $table-border-color;
      }
      > thead td {
        border-bottom-width: 2px;
      }
    }

    // Zebra-striping
    &--striped {
      > tbody > tr:nth-of-type(odd) {
        background-color: $table-bg-accent;
      }
    }

    // Hover effect
    &--hover {
      td {
        position: relative;
      }
      > tbody > tr:hover {
        @media screen and (min-width: $screen-md) {
          color: $white-lighten;
          background-color: $table-bg-hover;
          a:not(.btn) {color: $white-lighten !important;}
          td {
            border-color: $table-bg-hover;
            &:last-child::after {
              content: '';
              position: absolute;
              left: 100%;
              top: -1px;bottom: -1px;
              width: 100%;
              background-color: $base-color-main;
            }
          }
        }
      }
      > tbody > tr:first-child td:last-child::after {
        top: 0;
      }
    }

    // Responsive effect
    &--responsive {
      min-height: .01%;
      overflow-x: auto;
    }

    &--mobile {
      @media screen and (max-width: $screen-sm-max) {
        margin: 1em 0;
        min-width: 300px;
        text-align: left;
        tr {
          display: block;
        }
        th {
          display: none;
        }
        td {
          padding: 17px 12px;
          display: block;
          border-bottom: none;
          background-color: transparent;
          &:first-child {
            color: $black;
            background-color: #f3f5fa;
          }
          &:not(:first-child) {
            text-align: right;
            border-bottom: 1px solid $gray !important;
          }
          &:before {
            content: attr(data-th);
            width: 70%;
            display: inline-block;
            float: left;
            color: $black;
            text-align: left;
          }
        }
      }
    }

    &--mobile-anim {
      @media screen and (max-width: $screen-sm-max) {
        tr {
          max-height: 51px;
          overflow: hidden;
          margin-bottom: 6px;
          position: relative;
          @include transition();
          &.opened {
            max-height: 300px;
            td:first-child {
              color: $white-lighten;
              background-color: $base-color-main;
              &:before {
                color: $white-lighten;
              }
            }
            td:last-child {
              i, a {
                color: $white-lighten;
              }
              span {
                display: inline-block;
              }
            }
          }
        }
        td {
          &:first-child {
            color: $base-color-main;
            background-color: $white-lighten;
            &:before {
              width: auto;
              margin-right: 7px;
              color: $base-color-main;
            }
          }
          &:before {
            width: 6.5em;
          }
          &:last-child {
            position: absolute;
            right: 0;
            top: -1px;
            border: none !important;
            &:before {
              width: auto;
            }
            span {
              display: none;
            }
            i {
              opacity: 1;
              color: $base-color-main;
            }
          }
        }
      }
    }

  }

  @if $use-column-table == true {
    .t5  { width: 5% }
    .t10 { width:10% }
    .t12 { width:12.5% }     /* 1/8 */
    .t15 { width:15% }
    .t20 { width:20% }
    .t25 { width:25% }       /* 1/4 */
    .t30 { width:30% }
    .t33 { width:33.333% }   /* 1/3 */
    .t35 { width:35% }
    .t37 { width:37.5% }     /* 3/8 */
    .t40 { width:40% }
    .t45 { width:45% }
    .t50 { width:50% }       /* 1/2 */
    .t55 { width:55% }
    .t60 { width:60% }
    .t62 { width:62.5% }     /* 5/8 */
    .t65 { width:65% }
    .t66 { width:66.666% }   /* 2/3 */
    .t70 { width:70% }
    .t75 { width:75% }       /* 3/4*/
    .t80 { width:80% }
    .t85 { width:85% }
    .t87 { width:87.5% }     /* 7/8 */
    .t90 { width:90% }
    .t95 { width:95% }

    // Cell alignments
    .numerical {
      text-align: right;
    }

    // Table backgrounds
    @if $use-color-table == true {
      @include table-row-variant('active', $table-bg-active);
      @include table-row-variant('success', $state-success-bg);
      @include table-row-variant('info', $state-info-bg);
      @include table-row-variant('warning', $state-warning-bg);
      @include table-row-variant('danger', $state-danger-bg);
    }
  }
}
