//
// Base -> Typography
// --------------------------------------------------


// Headings
h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;

  small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;
  small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed-half;

  small {
    font-size: 75%;
  }
}

h1, .alpha   {
  font-size: 35px;

  @media screen and (min-width: $screen-lg) {
    font-size: 52px;
  }
  @media screen and (min-width: $screen-xl) {
    font-size: $font-size-h1;
  }
}
h2, .beta    {
  font-size: 24px;
  @media screen and (min-width: $screen-md) {
    font-size: 30px;
  }
  @media screen and (min-width: $screen-xl) {
    font-size: $font-size-h2;
  }
}
h3, .gamma   {
  font-size: 18px;
  @media screen and (min-width: $screen-md) {
    font-size: 20px;
  }
  @media screen and (min-width: $screen-xl) {
    font-size: $font-size-h3;
  }
}
h4, .delta   {
  font-size: 18px;
  @media screen and (min-width: $screen-md) {
    font-size: $font-size-h4;
  }
}
h5, .epsilon {
  font-size: 16px;
  @media screen and (min-width: $screen-xl) {
    font-size: $font-size-h5;
  }
}
h6, .zeta    {
  font-size: $font-size-h6;
}


// Body text
p {
  font-size: $font-size-medium;
  color: $gray-darken;
  margin: 0 0 $line-height-computed-half;
}

b {
  @extend .ffbold;
}

// Alignment
.text--left           { text-align: left; }
.text--right          { text-align: right; }
.text--center         { text-align: center; }
.text--justify        { text-align: justify; }
.text--nowrap         { white-space: nowrap; }


// Responsive alignment
@if $use-adaptive == true {
  @media screen and (min-width: $screen-sm-min) {
    .text__sm--left   { text-align: left; }
    .text__sm--right  { text-align: right; }
    .text__sm--center { text-align: center; }
  }
  @media screen and (min-width: $screen-md-min) {
    .text__md--left { text-align: left;}
    .text__md--right {text-align: right;}
    .text__md--center {text-align: center;}
  }

  @media screen and (min-width: $screen-lg-min) {
    .text__lg--left { text-align: left;}
    .text__lg--right { text-align: right;}
    .text__lg--center { text-align: center;}
  }

  @media screen and (min-width: $screen-xl-min) {
    .text__xl--left { text-align: left;}
    .text__xl--right { text-align: right;}
    .text__xl--center { text-align: center;}
  }
}


// Transformation
.text--lowercase      { text-transform: lowercase; }
.text--uppercase      { text-transform: uppercase; }
.text--capitalize     { text-transform: capitalize; }


// Text size
.text__sm { font-size: $font-size-small; }
.text__md { font-size: $font-size-medium; }
.text__lg { font-size: $font-size-large; }


@if $use-color-text == true {
  // Color text
  @include text-emphasis-variant('.text--primary', $base-color-main);
  @include text-emphasis-variant('.text--success', $color-type-4a);
  @include text-emphasis-variant('.text--white', $white-lighten);
  // @include text-emphasis-variant('.text--warning', $color-type-3a);
  @include text-emphasis-variant('.text--danger', $color-type-2c);
  @include text-emphasis-variant('.text--grey', $gray);
}


// Lists
ul,
ol {
  margin-top: 0;
  margin-bottom: $line-height-computed-half;
  ul,
  ol {
    margin-bottom: 0;
  }
}

.list {
  &--unstyled {
    @include list--unstyled;
  }

  &--inline {
    @include list--unstyled;
    margin-left: -5px;
    > li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &--bullet {
    @include list--unstyled;
    font-size: 16px;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '•';
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
  &--corner {
    @include list--unstyled;
    font-size: 16px;
    > li {
      margin-bottom: $line-height-computed / 2.6;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: '';
        background: url('../images/bullet.png') no-repeat center center;
        width: 14px;
        height: 10px;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

}
.uikit ol {
  counter-reset: items;
  padding-left: 0;
  font-size: 16px;
  > li {
    margin-bottom: $line-height-computed / 2.6;
    &::before {
      counter-increment: items 1;
      content: counter(items, decimal) ".";
      margin-right: 5px;
      @extend .ffbold;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}


// Blockquotes
.blockquote {
  padding: 40px 5px 0;
  margin: $line-height-computed * 2 0;
  position: relative;
  @media screen and (min-width: $screen-md) {
    padding: 50px 85px 0;
  }
  @media screen and (min-width: $screen-xl) {
    padding: 50px 95px 0;
  }
  .body {
    font-style: italic;
    line-height: 1.8;
    text-align: center;
    font-size: 15px;
    @media screen and (min-width: $screen-md) {
      text-align: left;
      font-size: $blockquote-font-size;
    }
    @media screen and (min-width: $screen-xl) {
      padding-right: 50px;
    }
  }
  .author {
    @extend .text__md;
    margin-top: 40px;
  }

  &:before {
    content: '';
    background: url('../images/quotes.png') no-repeat center center / 80% auto;
    display: inline-block;
    width: 93px;
    height: 78px;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    @media screen and (min-width: $screen-md) {
      left: 10px;
      right: auto;
    }
    @media screen and (min-width: $screen-xl) {
      left: 30px;
      background: url('../images/quotes.png') no-repeat center center;
    }
  }
  p,
  ul,

  ol {
    &:last-child {
      margin-bottom: 0;
    }
  }
  &--cus {
    padding: 30px 5px 0;
    @media screen and (min-width: $screen-md) {
      padding: 40px 50px 0;
    }
    @media screen and (min-width: $screen-xl) {
      padding: 50px 95px 0;
    }
    .body {
      // padding-right: 50px;
      line-height: 1.8;
      font-style: normal;
      text-transform: uppercase;
      @extend .text__md;
    }
    &:before {
      content: '';
      background: url('../images/quotes-l.svg') no-repeat center center;
      display: inline-block;
      width: 200px;
      height: 12px;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      @media screen and (min-width: $screen-md) {
        right: auto;
      }
    }
  }
}
