svg {
  vertical-align: middle;
  position: relative;
  width: 100%;
  // height: calc(100vh - 250px);
  @media screen and (min-width: $screen-xl) {
    height: auto;
  }
}
polygon, path {
  cursor: pointer;
  fill: transparent;
  pointer-events: visible;
}

.svg-popover {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  &.active {
    z-index: 11;
  }
  &__inner {
    display: block;
    padding: 8px;
    color: $white-lighten;
    border: 2px solid transparent;
    background-color: rgba($base-color-main, 0.8);
    @media screen and (min-width: $screen-md) {
      padding: 20px;
    }
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 21px 15px 0;
      border-color: transparent rgba($base-color-main, 0.8) transparent transparent;
      position: absolute;
      top: 100%;
      right: 30px;
    }
    .active > & {
      @media screen and (min-width: $screen-md) {
        display: none;
      }
    }
    &.active {
      border-color: $base-color-main;
      color: $base-color-main;
      background-color: $white-lighten;
    }
  }
  &__hide {
    display: none;
    width: 320px;
    @media screen and (min-width: $screen-md) {
      .active > & {
        display: flex;
      }
    }
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 21px 15px 0;
      border-color: transparent $base-color-main transparent transparent;
      position: absolute;
      top: 100%;
      right: 30px;
    }
    &.--un {
      &::after {
        border-color: transparent rgba(#3c414c, 0.8) transparent transparent;
      }
    }
  }
  &--reverse {
    .svg-popover__hide {
      &::after {
        left: 30px;
        right: auto;
        border-color: transparent $white-lighten transparent transparent;
      }
    }
  }
  &__left {
    padding: 12px 15px;
    width: 63%;
    color: #555555;
    background-color: $white-lighten;
    @media screen and (min-width: $screen-md) {
      padding: 20px 15px;
    }
  }
  &__right {
    padding: 5px 15px;
    width: 47%;
    @extend .ffbold;
    display: flex;
    @extend .middle__xs;
    text-transform: uppercase;
    color: $white-lighten;
    background-color: $base-color-main;
    @media screen and (min-width: $screen-md) {
      padding: 20px 15px;
    }
    &:hover {
      text-decoration: none;
    }
    &--un {
      // display: block;
      font-size: 12px;
      text-transform: none;
      @extend .ffreg;
      background-color: rgba(#3c414c, 0.8);
    }
  }
}
.svg-main {
  @media screen and (min-width: 1000px) and (max-width: 1100px) {
    margin-left: -70px;
  }
}
.genplan-main {
  &__wrapper {
    overflow-x: auto;
    @media screen and (min-width: 1000px) and (max-width: 1100px) {
      overflow-x: visible;
    }
    @media screen and (min-width: $screen-lg) {
      overflow-x: visible;
    }
  }
  &__formobile {
    min-width: 1100px;
    position: relative;
    @media screen and (min-width: $screen-lg) {
      // min-width: 1500px;
      // position: absolute;
      // overflow-x: hidden;
      // right: 0;
    }
    @media screen and (min-width: $screen-xl) {
      // position: relative;
    }
  }
  .contacts-map {
    bottom: 0;
    height: 100%;
    position: absolute;

    @media screen and (max-width: $screen-lg-max) {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  #map {
    height: calc(100vh - 150px);
  }
  &__sub {
    display: none;
    &.active {
      display: block;
    }
    .card-info {
      @media screen and (max-width: $screen-sm-max) {
        margin-bottom: 0;
      }
    }
  }
  &__img {
    position: absolute;
    bottom: 13%;
    left: 6%;
    z-index: 1;
    display: none;
    width: 70px;
    @media screen and (min-width: $screen-md) {
      display: block;
    }
    @media screen and (min-width: $screen-lg) {
      width: auto;
    }
  }
  &__item {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    z-index: 11;
    margin: auto;
    // z-index: -1;
    opacity: 0;
    // min-height: 900px;
    background: $white-lighten;
    overflow: hidden;
    // transition: opacity 0.5s linear;
    @media screen and (max-width: $screen-sm-max) {
      overflow-y: auto;
      overflow-x: hidden;
    }
    .genplan-notice {
      @media screen and (min-width: $screen-md) {
        position: static;
        width: 100%;
        background: url(../images/notice.png) no-repeat center left 10px, $white-lighten;
      }
    }
    .btn__lg {
      min-height: 80px;
      height: 100%;
    }
  }
  &__video {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: #78797E;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    // z-index: -1;
    z-index: 10;
    transition: opacity 1s linear;
  }
  &__infowindow {
    width: 100%;
    @extend .flex;
    z-index: 11;
    position: relative;
    background-color: $white-lighten;
    @media screen and (min-width: $screen-tablet-h) {
      z-index: 9;
      max-width: 400px;
      width: auto;
      position: absolute;
      left: 0;top: 0;bottom: 0;
      background-color: rgba($white-lighten,0.8);
      @media screen and (min-width: $screen-lg) {
        max-width: 600px;
      }
    }
    .hidden-block {
      display: none;
    }
    &-footer {
      position: absolute;
      bottom: 0;
      left: 0;right: 0;
    }
    span {
      vertical-align: inherit;
    }
    &-in {
      padding: 20px;
      @include transition(width 0.5s);
      @media screen and (min-width: $screen-lg) {
        padding: 50px 100px;
      }
    }

    ul {
      @media screen and (min-width: $screen-lg) {
        margin: 30px 0 60px;
      }
    }
    @media screen and (min-width: $screen-md) {
      &.less {
        .genplan-main__infowindow-in {
          .card-info {
            display: none;
          }
        }
      }
    }
    @media screen and (min-width: 769px) {
      &.less {
        .genplan-main__infowindow-in {
          width: 0;
          padding: 0;
          overflow: hidden;
        }

        .genplan-main__infowindow-footer {
          .is-col__md-7 {
            display: none;
          }

          .is-col__md-5 {
            width: 100%;
          }

          .btn__lg {
            padding: 23px 5px;
          }
        }

        .hidden-block {
          display: block;
          padding: 50px;
        }
      }
    }
  }


  video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    width: 100%;
    /*display: none;*/
  }
}

.sub-svg {
  transform: scale(1.3);
  min-height: 250px;
  @media screen and (min-width: $screen-md) {
    transform: scale(1);
    //margin-top: -60px;
  }
  @media screen and (min-width: $screen-tablet-h) {
    //margin-top: -80px;
    height: 100%;
  }
  @media screen and (min-width: $screen-lg) {
    //transform: scale(1);
    //margin-top: -140px;
    // margin-top: 0;
  }
  @media screen and (min-width: $screen-xl) {
    // margin-top: -160px;
  }
}

.genplan-pop {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 280px;
  i {
    position: absolute;
    top: 5px;
    left: 53%;
  }
  @media screen and (max-width: $screen-sm-max) {
    width: 100%;
    left: 0;
    right: 0 !important;
    bottom: 0 !important;
    position: fixed;
  }
  &__wrapper {
    width: 100%;
    display: flex;
  }
  &__formobile {
    width: 100%;
    left: 0;
    right: 0 !important;
    bottom: 0 !important;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    display: none;
    &.active  {
      display: flex;
      @media screen and (min-width: $screen-md) {
        display: none;
      }
    }
  }

  &.active {
    z-index: 11;
  }
  .svg-popover__right {
    &::after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 21px 15px 0;
      border-color: transparent $base-color-main transparent transparent;
      position: absolute;
      top: 100%;
      right: 30px;
    }

    &--un {
      &::after {
        border-color: transparent rgba(#3c414c, 0.8) transparent transparent;
      }
    }
  }
}

svg {

  .success {
    &:hover {
      fill: rgba(#52fd9b, 0.5);
      stroke: rgba(#52fd9b, 0.8);
      stroke-width: 2px;
    }
  }
  .error {
    &:hover {
      fill: rgba(#f3535a, 0.5);
      stroke: rgba(#f3535a, 0.8);
      stroke-width: 2px;
    }
  }

}

.animated {
    visibility: visible;
    /*opacity: 1;*/
    z-index: 21;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
