//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  color: #011627;
  letter-spacing: 0.56px;
  padding-top: 20px;
  padding-bottom: 20px;
  @extend .ffbold;
  &--fix {
    padding-left: 30px;
    padding-right: 30px;
    // @media screen and (min-width: $screen-md) {
    position: absolute;
    bottom: 0;left: 0;right: 0;
    // }
  }
  @media screen and (min-width: $screen-xl) {
    // padding-top: 45px;
    padding-bottom: 30px;
  }
  a {
    text-decoration: none;
    &.text--white {
      @extend .text--white;
    }
  }
  .socials {
    font-size: 16px;
  }
}
