//
// Partials -> Header
// ------------------------------------

span, i {
  vertical-align: middle;
}
img + span,
i + a,
span + i,
i + span {
  margin-left: 10px;
  @media screen and (min-width: $screen-xl) {
    margin-left: 15px;
  }
}

//
// Header
//
.page-header {
  z-index: 11;
  text-transform: uppercase;
  padding: 10px 0;
  @extend .ffbold;
  background: $white-lighten;

  @media screen and (min-width: $screen-adaptive-nav) {
    padding: 25px 10px;
    // position: absolute;
    // left: 0;right: 0;top: 0;
  }
  a {
    color: $black;
  }
  &__logo {
    img {height: 35px;}
    @media screen and (min-width: $screen-adaptive-nav) {
      img {height: auto;}
      width: 20%;
    }
    a {text-decoration: none;}
  }
  &__link {
    @extend .ad-fonts;
    display: flex;
    @extend .middle__xs;
    margin-left: 2px;
    .is-icons {
      width: 22px;
    }
    @media screen and (min-width: $screen-md-min) {
      font-size: 10px;
      margin-left: 0;
    }
    @media screen and (min-width: $screen-lg-min) {
      font-size: inherit;
    }
  }
  &--fix {
    position: absolute;
    background: transparent;
    top: 0;left: 0;right: 0;
    z-index: 21;
  }
  &__phone {
    font-size: 16px;
    white-space: nowrap;
    @media screen and (min-width: $screen-xl) {
      font-size: 24px;
    }
  }
  &__search {
    position: relative;
    cursor: pointer;
    margin-left: 15px;
    @media screen and (min-width: $screen-adaptive-nav) {
      margin-left: 0;
      padding: 12px 20px;
      background-color: $base-color-main;
    }
    @media screen and (min-width: $screen-md) {
      padding: 12px 0 12px 10px;
      &::after {
        content: '';
        background-color: $base-color-main;
        position: absolute;
        left: 100%;
        top: 0;bottom: 0;
        width: 6px;
      }
    }
    @media screen and (min-width: 1000px) {
      padding: 12px 0 12px 25px;
      &::after {
        width: 10px;
      }
    }
    @media screen and (min-width: $screen-lg) {
      &::after {
        width: 50px;
      }
    }
    @media screen and (min-width: 1400px) {
      &::after {
        width: 200px;
      }
    }
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
