//
// Partials -> Main
// ------------------------------------
.page-main {
  min-height: calc(100vh - 60px);
  overflow: hidden;
  @media screen and (min-width: $screen-md) {
    min-height: calc(100vh - 150px);
  }
  @media screen and (min-width: $screen-xl) {
    min-height: calc(100vh - 229px);
  }
}
.tableb {
  // width: 100%;
  // width: 280px;
  margin: auto;
  display: table;

  &-mobile {
    @media screen and (max-width: $screen-sm-max) {
      width: 100%;
    }
    @media screen and (max-width: $screen-sm-max) {
      margin: auto;
      display: table;
    }
  }
  &-tablet {
    @media screen and (max-width: $screen-sm-max) {
      width: 100%;
    }
    @media screen and (max-width: $screen-md-max) {
      margin: auto;
      display: table;
    }
  }
}
.inlineb {
  display: inline-block;
}
aside {
  position: relative;
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: none;
    @media screen and (min-width: $screen-adaptive-nav) {
      text-align: left;
    }
    // @media screen and (min-width: $screen-xl) {
    //   margin-bottom: 50px;
    // }
  }
}

.abs-end {
  position: fixed;
  left: 0;right: 0;bottom: 0;
  z-index: 19;

  @media screen and (min-width: $screen-md) {
    position: absolute;
  }
}

.is-row--sm {
    margin-left: -7px;
    margin-right: -7px;
    .is-col {
      padding-left: 7px;
      padding-right: 7px;
    }
}

.uikit {
  img {
    // margin-bottom: 50px;
  }
  ol, ul {
    color: #555555;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 30px;
  }
  b {
    display: inline-block;
    margin-bottom: 20px;
  }
  video {
    vertical-align: middle;
  }
}

.tooltip,
.popover {
   position:absolute;
   left: 50px;
   text-align: left;
   top: -70px;
   z-index:-999;
   color: #555555;
   font-size: 16px;
   box-shadow: 3px 4px 7px rgba(70, 74, 84, 0.07);
   background-color: #ffffff;
   padding: 24px;
   text-transform: none;
   border:1px solid #fff;
   width:300px;
   opacity: 0;
   @extend .ffreg;
   letter-spacing: 0px;
   @include transition();
   @media screen and (min-width: $screen-md) {
     width:320px;
     top: auto;
     bottom: 55px;
   }
   @media screen and (min-width: $screen-xl) {
     padding:40px;
   }
   &.active {
     opacity: 1;
     z-index:999;
   }
  .btn {
    color: #00b9ff !important;
    &:hover {
      color: white !important;
    }
  }
   &--js {
     position: relative;
     &:hover:before {
       opacity: 0.5;
     }
   }
   @media screen and (min-width: $screen-md) {
     &::after {
      content: '';
      position: absolute;
      left: 8px;
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 46px 0 0;
      border-color: $white-lighten transparent transparent transparent;
     }
   }
 }
 .popover {
   &-close {
     position: absolute;
     top: 15px;
     right: 10px;
     cursor: pointer;
   }
   &--right {
     left: auto;
     right: -10px;
     @media screen and (min-width: $screen-md) {
       right: 0;
     }
     &::after {
      left: auto;
      right: 10px;
      border-width: 0 46px 30px  0;
      border-color: transparent $white-lighten transparent transparent;
     }
   }
   &__sm {
    color: $gray;
    font-size: 12px;
    width: 150px;
    padding: 10px;
    &::after {
     border-width: 0 21px 13px  0;
    }
   }
}


.aside-menu {
  letter-spacing: 1.4px;
  @extend .text--uppercase;
  @media screen and (max-width: $screen-sm-max) {
    position: static !important;
    width: 100% !important;
  }
  &__item {
    line-height: 1.5;
    margin-bottom: 20px;
    @extend .ffbold;
    position: relative;
    @media screen and (min-width: $screen-lg) {
      padding-left: 160px;
    }
    @media screen and (min-width: $screen-xl) {
      padding-left: 220px;
    }
    a {
      color: $gray;
      display: block;
      &::before {
        @media screen and (min-width: $screen-lg) {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 130px;
          height: 2px;
          @include transition();
        }
        @media screen and (min-width: $screen-xl) {
          width: 190px;
        }
      }
      &:hover,
      &.active {
        color: $base-color-main;
        text-decoration: none;
      }
      &.active {
        &::before {
          background-color: $base-color-main;
        }
      }
    }
  }
}

.search {
  &-bar {
    h2 {
      margin-bottom: 50px;
      @media screen and (min-width: $screen-xl) {
        margin-bottom: 70px;
      }
    }
    .control {
      height: 60px;
      padding-left: 20px;
      padding-right: 40px;
      border: 2px solid $base-color-main;
      text-transform: uppercase;
      @media screen and (min-width: $screen-adaptive-nav) {
        height: 70px;
        padding-left: 45px;
        padding-right: 80px;
      }
      @media screen and (min-width: $screen-xl) {
        height: 100px;
      }
    }
    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      position: absolute;
      right: 0;top: 0;bottom: 0;
      padding: 0 15px;
      z-index: 11;
      font-size: 12px;
      @media screen and (min-width: $screen-md) {
        padding: 0 30px;
        font-size: 14px;
      }
    }
  }
  &-results {
    display: none;
    &-subtitle {
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md) {
        margin-bottom: 70px;
      }
    }
    &__item {
      margin-bottom: 40px;
      color: $black;
      text-decoration: none;
      .is-icons {
        bottom: 0;left: 0;right: 0;
        padding: 15px;
        opacity: 0;
        position: absolute;
        @include transition();
        background-color: $white-lighten;
        &::before {
          margin: auto;
        }
      }
      &-img {
        position: relative;
        text-align: right;
        img {
          box-shadow: 0 20px 40px rgba(1, 22, 39, 0.1), inset 0 -50px 0 #ffffff;
        }
      }
      &-desc {
        display: flex;
        flex-direction: column;
        @include transition();
        @media screen and (min-width: $screen-md) {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
      &:hover {
        text-decoration: none;
        .is-icons {
          opacity: 1;
        }
        .search-results__item-desc b {
          color: $base-color-main;
        }
      }
    }
    .helper {
      color: $white-lighten;
      background-color: $base-color-main;
      position: absolute;
      left: -20px;
      padding: 3px 10px;
      top: 0;bottom: 0;
      margin: auto;
      height: 25px;
      @media screen and (min-width: $screen-md) {
        left: 15px;
        padding: 3px 25px;
      }
    }
  }
}

.titles {
  h2, h3 {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    @media screen and (min-width: $screen-adaptive-nav) {
      text-align: left;
    }
    @media screen and (min-width: $screen-xl) {
      margin-top: 50px;
      // margin-bottom: 40px;
    }
  }
  h4 {
    text-align: center;
    @media screen and (min-width: $screen-adaptive-nav) {
      text-align: left;
    }
  }
}

.relative {
  position: relative;
}
.slick-arrow {
  cursor: pointer;
}
.slider {
  &-arrow {
    position: absolute;
    left: 80%;
    bottom: 15px;
    z-index: 11;

    @media screen and (min-width: $screen-xl) {
      bottom: 30px;
    }
    &-plan {
      left: auto;
      right: 10%;
    }
    &-left {
      margin-top: 15px;
    }
    &-right {

    }
  }
  &-for {

  }
  &-nav {
    margin-top: 10px;
    .slick-slide div {
      margin-right: 15px;
    }
    .slick-track {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.slideshow {
  .slick-dots {
    @media screen and (min-width: $screen-md) {
      li {
        display: block;
      }
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .flex-center {
      @media screen and (max-width: $screen-sm-max) {
        padding-top: 70px;
        padding-bottom: 90px;
      }
    }
    @media screen and (min-width: $screen-md) {
      height: 100vh;
      min-height: inherit;
    }
    .socials {
      margin-bottom: 30px;
      font-size: 18px;
    }
  }
  &-wheel {
    width: 30px;
    text-align: center;
    z-index: 11;
    position: absolute;
    right: 40px;
    bottom: 15%;
    display: none;
    @media screen and (min-width: $screen-md) {
      display: block;
    }
  }
}

.socials {
  color: $gray;
  &__item {
    display: inline-block;
    vertical-align: middle;
    & + & {
      margin-left: 20px;
    }
  }
  a {
   color: #6e7179;
    &:hover {
      color: $base-color-main;
    }
  }
}

.shop {
  text-transform: uppercase;
  &-subtitle {
    color: $white-lighten;
    background-color: $base-color-main;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 0.56px;
    position: relative;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    @extend .ffbold;
    @media screen and (min-width: $screen-md) {
      font-size: 18px;
      line-height: 60px;
      padding-right: 35px;
      padding-left: 0;
    }
    @media screen and (min-width: $screen-xl) {
      font-size: 28px;
      line-height: 75px;
    }
    &::before {
      content: '';
      width: 200%;
      background-color: $base-color-main;
      position: absolute;
      top: 0;bottom: 0;
      right: 100%;
    }
  }
  &-title {
    color: $base-color-main;
    @extend .ffbold;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-top: 10px;

    @media screen and (min-width: $screen-md) {
      font-size: 70px;
      margin-top: 0;
    }
    @media screen and (min-width: $screen-xl) {
      font-size: 100px;
    }
  }
  &-list {
    font-weight: 500;
    letter-spacing: 1.4px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    @extend .ffmed;
    @media screen and (min-width: $screen-adaptive-nav) {
      flex-wrap: nowrap;
      margin-bottom: 80px;
      max-width: 670px;
    }
    @media screen and (min-width: $screen-xl) {
      max-width: 920px;
    }
    &__item {
      position: relative;
      width: auto;
      padding-left: 13px;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md) {
        padding-left: 0;
        margin-bottom: 0;
      }
      & + & {
        @media screen and (min-width: $screen-md) {
          margin-left: 50px;
        }
        @media screen and (min-width: $screen-xl) {
          margin-left: 70px;
        }
      }
      &::before {
        content: '';
        width: 2px;
        height: 20px;
        background-color: $base-color-main;
        position: absolute;
        top: 0;bottom: 0;
        left: 0;
        margin: auto;
        @media screen and (min-width: $screen-md) {
          left: -25px;
        }
      }
    }
  }
  &-desc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @extend .ffmed;
    i {
      margin-bottom: 10px;
    }
    &__item {
      width: 50%;
      @media screen and (min-width: $screen-md) {
        width: auto;
      }
      & + & {
        @media screen and (min-width: $screen-md) {
          margin-left: 40px;
        }
      }
    }
    b {
      @extend .ffblack;
    }
  }
  &-links {
    width: 100%;
    display: flex;
    text-align: center;
    position: relative;
    z-index: 1;
    // @media screen and (min-width: $screen-adaptive-nav) {
    //   position: absolute;
    //   left: 0;right: 0;
    //   top: 113px;
    // }
    &__item {
      width: 50%;
      height: 60px;
      padding: 20px 10px;
      position: relative;
      color: $white-lighten;
      background-color: $base-color-light;
      font-family: 'gilroybold';
      @media screen and (min-width: $screen-md) {
        height: 80px;
        padding: 30px 10px;
      }
      @media screen and (min-width: $screen-lg) {
        height: 103px;
        padding: 40px 20px;
      }
      & + & {
        span {
          display: none;
          @media screen and (min-width: $screen-md) {
            display: inline-block;
          }
        }
        &::after {
          content: 'Параметры';
          margin-left: 10px;
          @media screen and (min-width: $screen-md) {
            content: '';
            margin-left: 0;
          }
        }
      }
      &.active {
        &::after {
          content: '';
          position: absolute;
          bottom: -17px;
          left: 0;right: 0;
          margin: auto;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 17px 13.5px 0 13.5px;
          border-color: $base-color-light transparent transparent transparent;
        }
      }
      &.active,
      &:hover {
        text-decoration: none;
        color: $white-lighten;
        background-color: $base-color-dark;
        &::after {
          border-color:  $base-color-dark transparent transparent transparent;
        }
      }
      // & + & {
      //   background-color: $base-color-dark;
      //   &.active {
      //     &::after {
      //       border-color: $base-color-dark transparent transparent transparent;
      //     }
      //   }
      //   &:hover {
      //     background-color: darken($base-color-dark, 5%);
      //     &::after {
      //       border-color:  darken($base-color-dark, 5%) transparent transparent transparent;
      //     }
      //   }
      // }
    }
  }
}
