//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    // margin-bottom: $line-height-computed;
    height: 50px;
    background-color: $breadcrumb-bg;
    display: none;
    @media screen and (min-width: $screen-adaptive-nav) {
      display: block;
    }

    &__item {
      display: inline-block;
      font-size: 11px;
      & + & {
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin: 0 10px;
          @include sprite(crumbs-arr);
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
    &__link {
      color: $breadcrumb-color;
    }
  }
}
