//
// Modules -> Navs
// --------------------------------------------------

nav {
  order: -1;
  min-width: 82px;
  @media screen and (min-width: $screen-adaptive-nav) {
    order: 0
  }
}

.sub-nav {
  // text-align: center;
  white-space: normal;
  li {
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    font-family: 'gilroyregular';
    a {
      color: #acb0bf;
      font-weight: 400;
    }
  }
  @if $use-adaptive == true {
    @media screen and (min-width: $screen-adaptive-nav) {
      display: none;
      position: absolute;
      background: $white-lighten;
      box-shadow: 3px 4px 7px rgba(70, 74, 84, 0.07);
      top: 100%;
      left: 0;
      min-width: 290px;
      padding: 10px 0;
      z-index: 9;
      li a {
        color: $gray;
        @extend .ad-fonts;
        padding: 0 5px 0 15px;
        border-left: 2px solid transparent;
        &:hover {
          color: $base-color-main;
          text-decoration: none;
          border-color: $base-color-main;
          background-color: $white-lighten;
        }
      }
      li:hover & {
        display: block;
      }
      li {
        margin: 5px 0;
      }
    }
    @media screen and (min-width: $screen-xl) {
      min-width: 375px;
    }
  } @else {
    display: none;
    position: absolute;
    background: $gray-darken;
    top: 100%;
    right: 0;
    min-width: 200px;
    li:hover & {
      display: block;
    }
  }
}

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  @extend .ad-fonts;

  &__close {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10px;
    @media screen and (min-width: $screen-adaptive-nav) {
      display: none;
    }
    i {
      cursor: pointer;
    }
  }

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
  }
  &__link {
    position: relative;
    padding: 10px;
    text-decoration: none;
    display: block;
    background-color: transparent;
    @media screen and (min-width: $screen-md) {
      padding: 10px 3px;
    }
    @media screen and (min-width: $screen-lg) {
      padding: 10px;
    }
    @media screen and (min-width: $screen-xl) {
      padding: $nav-link-padding;
    }
    @media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
      font-size: 11px;
    }
    &.active {
      border-left: 5px solid $base-color-main;
    }

    &:hover, &:focus {
      text-decoration: none;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;bottom: 0;
        left: -10px;
        width: 5px;
        height: 20px;
        margin: auto;
        background-color: #00c1ff;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        color: $white-lighten;
        background-color: $base-color-main;
        &::before {
          display: none;
        }
      }
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: 0;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      // overflow-x: visible;
      background-color: $white-lighten;
      box-shadow: 3px 6px 10px rgba(70, 74, 84, 0.5);
      position: fixed;
      top: -200%;
      z-index: 99;
      padding: 10px 10px 30px;
      // min-width: 320px;
      left: 0;
      right: 0;
      overflow-y: auto;
      @include transition();
      -webkit-overflow-scrolling: touch;

      &-footer {
        box-shadow: inset 3px 4px 7px rgba(70, 74, 84, 0.07);
        padding: 20px;
        position: absolute;
        left: 0;right: 0;
        bottom: 0;
        a {
          color: rgba(#030303, 0.3) !important;
        }
      }

      &.collapse {
        top: 0;
        bottom: 0;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        &::after {
          display: none;
        }
        background-color: transparent;
        box-shadow: none;
        position: static;
        overflow: visible;
        padding: 0;
      }
    }
  }
}
