//
// Pages -> Index
// ------------------------------------

.blurb {
  @extend .titles;
  &-inner {}
  &__item {
    @extend .ffbold;
    margin-bottom: 40px;
    letter-spacing: 1.4px;
    @media screen and (min-width: $screen-adaptive-nav) {
      margin-bottom: 100px;
    }
    &-img {
      img {vertical-align: middle;}
      @media screen and (min-width: $screen-adaptive-nav) {
        height: 140px;
        line-height: 140px;
      }
    }
    .popup-in {
      color: $black;
      display: inline-block;
      margin-top: 30px;
      text-decoration: none;
      border-bottom: 1px dashed $black;
      &:hover {
        color: $base-color-main;
        border-color: $base-color-main;
      }
    }
  }
}
