//
// Pages -> card
// ------------------------------------

.card-padding {
  padding: 20px;
  @media screen and (min-width: $screen-adaptive-nav) {
    padding: 10px 15px;
  }
  @media screen and (min-width: $screen-lg) {
    padding: 10px 40px 30px;
  }
  @media screen and (min-width: $screen-xl) {
    padding: 10px 60px 30px;
  }
}
.card-padding-md {
  padding: 10px;
  @media screen and (min-width: $screen-adaptive-nav) {
    padding: 30px 25px;
  }
  @media screen and (min-width: $screen-lg) {
    padding: 50px 25px;
  }
}

.card {
  background: url('../images/shape.svg') no-repeat right -23% top 60px / auto 700px;
  @extend .titles;

  &-info {
    @extend .ffbold;
    margin-bottom: 20px;
    &__item {
      margin-bottom: 20px;
      @media screen and (min-width: $screen-lg) {
        margin-bottom: 40px;
      }
    }
    &-links {
      display: flex;

      @media screen and (min-width: $screen-md) {
        flex-wrap: wrap;
        margin-bottom: 15px;
      }
      @media screen and (min-width: $screen-lg) {
        flex-wrap: nowrap;
      }
      &__item {
        width: 50%;
        @media screen and (min-width: $screen-md) {
          width: 100%;
        }
        @media screen and (min-width: $screen-lg) {
          width: auto;
        }
        & + & {
          @media screen and (min-width: $screen-md) {
            margin-top: 15px;
          }
          @media screen and (min-width: $screen-lg) {
            margin-left: 20px;
            margin-top: 0;
          }
        }
      }
      &--filter {
        @media screen and (min-width: $screen-md) {
          .card-info-links__item {
            width: auto;
            + .card-info-links__item {
              margin-top: 0;
            }
          }
        }
      }
    }
    &-env {
      color: $black;
      font-family: 'gilroybold', sans-serif;
      font-size: 14px;
      margin-top: 30px;
      display: block;
      @media screen and (min-width: $screen-lg) {
        margin-left: -15px;
      }
    }
  }
  &-list {
    @extend .ffbold;
    &__item {
      cursor: pointer;
      position: relative;
      @extend .mb50;
      @extend .card-padding;
      @extend .text--uppercase;
      @extend .is-col__md-4;
      text-align: center;

      @media screen and (max-width: $screen-sm-max) {
        &::after {
          content: '';
          width: 40px;
          height: 1px;
          background-color: #d4d7e1;
          position: absolute;
          right: 0;
          left: 0;
          margin: auto;
          bottom: 0;
        }
      }
      @media screen and (min-width: $screen-md) {
        text-align: left;
        @extend .flex;
        &:not(:nth-child(3n+3))::after {
          content: '';
          width: 2px;
          height: 54px;
          background-color: #d4d7e1;
          position: absolute;
          right: 0;
          bottom: 20px;
        }
      }
    }
  }
  &-serv {
    font-size: 14px;
    @media screen and (min-width: $screen-xl) {
      font-size: $font-size-medium;
    }
    color: $gray-darken;
    .is-icons--condicioner {
      font-size: 10px;
    }
  }
  &-edge {
    margin-bottom: 60px;
    @media screen and (min-width: $screen-md) {
      margin-bottom: 0;
    }
    &__item {
      @extend .flex;
      @extend .is-col__md-4;
      @extend .card-padding-md;
      color: $black;
      text-align: center;
      @media screen and (max-width: $screen-sm-max) {
        &::after {
          content: '';
          width: 40px;
          height: 1px;
          background-color: #d4d7e1;
          position: absolute;
          right: 0;
          left: 0;
          margin: auto;
          bottom: 0;
        }
      }
      @media screen and (min-width: $screen-md) {
        margin-bottom: 50px;
        height: 230px;
        text-align: left;
        border-right: 1px solid #bcc2cc;
      }

      &-num {
        color: #a5aeb8;
        font-size: 24px;
        @extend .flex-top;
        @media screen and (min-width: $screen-md) {
          font-size: 36px;
        }
      }
      &-title {
        @extend .text--uppercase;
        @extend .flex-end;
        @extend .ffbold;
      }
      &:hover {
        color: $white-lighten;
        text-decoration: none;
        background-color: $base-color-main;
        .card-edge__item-num {
          color: $white-lighten;
        }
      }
    }
  }
}
