//
// Pages -> contacts
// ------------------------------------

.contacts {
  @extend .titles;
  position: relative;
  &-link {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 11;
    display: none;
    @media screen and (min-width: $screen-md) {
      display: block;
    }
    .btn {
      padding-right: 80px;
      padding-left: 54px;
      height: 80px;
      @media screen and (min-width: $screen-xl) {
        height: 95px;
      }
    }
  }
  &-inner {
    position: relative;
  }
  &-map {
    opacity: 1;
    @include transition();
    &.active {
      opacity: 1;
      z-index: 9;
    }
    @media screen and (min-width: $screen-md) {
      position: absolute;
      top: 0;left: 0;right: 0;
      margin: auto;
      opacity: 0;
      z-index: -9;
    }
  }
  &__item {
    margin-bottom: 10px;
    @media screen and (min-width: $screen-xl) {
      margin-bottom: 30px;
    }
    &:nth-last-child(2) {
      margin-bottom: 40px;
    }
  }
  p {
    margin-bottom: 20px;
  }
  .list--inline {
    li + li {
      padding-left: 15px;
      border-left: 1px solid $gray;
    }
  }
  .btn--unreal {
    margin-top: 90px;
  }
}

#map {
  height: 475px;
  @media screen and (min-width: $screen-md) {
    height: 580px;
  }
}
