//
// Pages -> filter
// ------------------------------------

.filter {
  @extend .titles;
  .btn--unreal {
    @media screen and (min-width: $screen-lg) {
      padding-left: 20px;
    }
    @media screen and (min-width: $screen-xl) {
      padding-left: 40px;
    }
  }
  @media screen and (max-width: $screen-sm-max) {
    .btn {
      width: 100%;
      text-align: center;
    }
  }
}

.rangeslider {
  height: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
  &-value {
    @extend .text--uppercase;
    @extend .ffbold;
  }
  &-values {
    display: inline-block;
    margin-left: 50px;
  }
  sup {
    @extend .ffbold;
  }
  .values {
    display: inline-block;
  }
}
.tablesorter {
  tr td {
    i {
      opacity: 0;
    }
    &:last-child {
     @media screen and (min-width: $screen-lg) {
      border-color: transparent;
      opacity: 0;
     }
     a {
       color: $gray;
       text-decoration: underline;
     }
    }
  }
  tr:hover {
    i {
      opacity: 1;
    }
    td:last-child {
     opacity: 1;
     border-color: $table-bg-hover;
   }
  }
  &-header {
    position: relative;
    i {
      right: 0;
      position: absolute;
      @media screen and (min-width: $screen-xl) {
        right: 10px;
      }
    }
  }
  &-headerDesc {
    i {
      transform: rotate(180deg);
    }
  }
}

.noUi-value.noUi-value-horizontal.noUi-value-large {
  // left: 0 !important;
  top: 23px;
}
.noUi-value.noUi-value-horizontal.noUi-value-large:last-child {
  right: 0;
  left: auto !important;
}
.noUi-marker,
.noUi-marker-horizontal.noUi-marker-large {
  height: 5px;
  background-color: #acb0bf;
}
.noUi-value {
  @extend .text--uppercase;
  @extend .ffbold;
}
