//
// Pages -> infra
// ------------------------------------

.gallerym {
  @extend .titles;
  background: url('../images/card-back.png') no-repeat right top 60px, url('../images/gallery-back.png') no-repeat left -20px top 500px / 56% auto;
  @media screen and (min-width: $screen-xl) {
    background: url('../images/card-back.png') no-repeat right top 60px, url('../images/gallery-back.png') no-repeat left -20px top 500px;
  }
}


.gallery {
  a {
    display: block;
    position: relative;
    margin-bottom: 12px;
  }
  &-video {
    position: relative;
    margin-bottom: 30px;
    .playbutton {
      position: absolute;
      z-index: 9;
      top: 0;left: 0;right: 0;bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba($white-lighten, 0.7);
      img {
       width: 60px;
       @media screen and (min-width: $screen-md) {
         width: auto;
       }
     }
    }
  }
  &-txt {
    opacity: 0;
    color: $white-lighten;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    padding: 10px;
    @extend .ffbold;
    @extend .text--uppercase;
    @include transition();
    background: url('../images/icons/plus.svg') no-repeat left 10px bottom 10px, rgba($base-color-main, 0.8);
    :hover > & {
      opacity: 1;
    }
    @media screen and (min-width: $screen-lg) {
      background: url('../images/icons/plus.svg') no-repeat left 30px bottom 30px, rgba($base-color-main, 0.8);
      padding: 30px;
    }
  }
  img {vertical-align: middle;width: 100%;}
  &-btn {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    @media screen and (min-width: $screen-md) {
      width: auto;
    }
  }
  &--main {
    .gallery-txt {
      opacity: 1;
      // color: $white-lighten;
      flex-direction: column;
      display: flex;
      // position: absolute;
      // top: 0;left: 0;right: 0;bottom: 0;
      // padding: 30px;
      // @extend .ffbold;
      // @extend .text--uppercase;
      // @include transition();
      background: rgba($base-color-main, 0.5);
    }
    a:hover .gallery-txt  {
      background: $base-color-main;
    }
  }
}
