//
// Pages -> genplan
// ------------------------------------

.genplan {
  @extend .titles;
  position: relative;
  @extend .vh-height;
  &-main {
    background: #78797E;
    @media screen and (max-width: $screen-sm-max) {
      background: transparent;
      height: calc(100vh - 170px);
    }
    &__item {
      background: #78797E;
    }
    svg {
      // height: calc(100vh - 50px);
    }
  }
  &-3d {
    @media screen and (max-width: $screen-md-max) {
      height: auto;
    }
  }
  &-scheme {
    aside {
      align-self: flex-start;
    }
    @media screen and (min-width: $screen-md) {
      aside h1 {
        margin-bottom: 20px;
        margin-top: 0;
      }
      .card-info {
        margin-bottom: 0;
        &__item {
          margin-bottom: 25px;
        }
      }
    }
    @media screen and (min-width: $screen-md) {
      aside h1 {
        margin-top: 50px;
      }
    }
    @media screen and (min-width: $screen-lg) {
      aside h1 {
        margin-top: 20px;
      }
    }
    @media screen and (min-width: $screen-xl) {
      aside h1 {
        margin-top: 50px;
      }
    }
  }
  &-notice {
    color: $white-lighten;
    padding: 15px 30px;
    position: absolute;
    top: 100%;
    left: 0;right: 0;
    max-width: 320px;
    margin: auto;
    text-align: center;
    z-index: 1;
    background-color: rgba($base-color-main, 0.6);
    @extend .is-col__lg-10;
    &:after {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 160px 0 160px;
      border-color: rgba($base-color-main, 0.6) transparent transparent transparent;
      position: absolute;
      top: 100%;
      left: 0;right: 0;
    }
    @media screen and (min-width: $screen-md) {
      position: relative;
      left: 0;
      right: auto;
      top: auto;
      text-align: left;
      max-width: inherit;
      color: #84868f;
      padding: 20px 20px 20px 50px;
      background: url('../images/notice.png') no-repeat center left, $white-lighten;
      &:after {
        display: none;
      }
      &::before {
        content: '';
        position: absolute;
        right: 100%;
        top: 0;bottom: 0;
        width: 100%;
        background-color: $white-lighten;
      }
    }
    @media screen and (min-width: $screen-lg) {
      left: -50px;
    }
  }
  &-txt {
    @extend .hidden__xs;
    @extend .hidden__sm;
    @media screen and (min-width: $screen-md) {
      @extend .mt20;
      @extend .mb20;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: 0;
      margin-bottom: 0;
    }
    @media screen and (min-width: $screen-xl) {
      @extend .mt20;
      @extend .mb20;
    }
  }
  &-litera {
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
    line-height: 0.7;
    text-align: center;
    font-size: 360px;
    font-family: 'gilroybold';
    color: rgba(#acb0bf, 0.2);
    @media screen and (min-width: $screen-md) {
      font-size: 580px;
      left: auto;
      right: -10%;
    }
    @media screen and (min-width: $screen-lg) {
      font-size: 700px;
    }
  }
  &-code {
    //margin-top: 130px;
    @media screen and (min-width: $screen-md) {
      margin-top: 0;
    }
    svg {
      width: auto !important;
    }
    @media screen and (min-width: $screen-xl) {
      margin-top: 50px;
    }
    &--3d {
      @media screen and (max-width: $screen-sm-max) {
        transform: scale(2);
      }
    }
  }
}

rect {
  fill: transparent;
}

.slider-plan {
  margin-bottom: 30px;
  .slick-slide {
    margin-right: 10px;
  }
}
