//
// Pages -> Index
// ------------------------------------

.lease {
  background: url('../images/card-back.png') no-repeat right top 60px;
  @extend .titles;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 50px 40px;
    height: 160px;
    border: 1px solid #e0e2ec;
    @include transition();
    @media screen and (min-width: $screen-md) {
      height: 200px;
    }
    &:hover {
      text-align: left;
      align-items: start;
      background-color: $base-color-main;
      .lease__item-txt {
        display: block;
      }
    }
    &-img {
      :hover > & img {
        display: none;
      }
    }
    &-txt {
      color: $white-lighten;
      @extend .ffbold;
      @extend .text--uppercase;
      display: none;
    }
  }
}
