//
// Pages -> infra
// ------------------------------------

.page404 {
  min-height: 100vh;
  background: url('../images/404-back-m.png') no-repeat center top, url('../images/error-m.png') no-repeat top 40% center, $white-lighten;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: $screen-md) {
    background: url('../images/404-back.png') no-repeat center bottom, url('../images/error.png') no-repeat top 40% center, $white-lighten;
  }
  &-title {
    font-size: 34px;
    @extend .ffblack;
    @media screen and (min-width: $screen-md) {
      font-size: 50px;
    }
    @media screen and (min-width: $screen-xl) {
      font-size: 70px;
    }
  }
  &-subtitle {
    font-size: 16px;
    @extend .ffmed;
    margin-bottom: 80px;
    margin: 0 10px;
    @media screen and (min-width: $screen-md) {
      font-size: 24px;
    }
    @media screen and (min-width: $screen-xl) {
      margin-bottom: 100px;
      font-size: 30px;
    }
  }
  .list--inline {
    @media screen and (max-width: $screen-sm-max) {
      position: fixed;
      left: 0;right: 0;
      bottom: 0;
      display: flex;
      margin: 0;
      li {
        padding: 0;
        width: 50%;
        display: table;
      }
      .btn {
        text-align: center;
        padding: 13px 6px;
      }
    }
  }
}
