//
// Pages -> services
// ------------------------------------

.services {
  @extend .titles;
  @media screen and (min-width: $screen-md) {
    background: url('../images/card-back.png') no-repeat right top 60px, url('../images/rent-back.png') no-repeat left -20px top 500px / 56% auto;
  }
  @media screen and (min-width: $screen-xl) {
    background: url('../images/card-back.png') no-repeat right top 60px, url('../images/rent-back.png') no-repeat left -20px top 500px;
  }
}
