footer.page-footer.page-footer--fix
  //- .container
  .is-row.between__xs.middle__xs
    .is-col 
      .socials
        .socials__item: a.text--white(href='#'): i.icon-f
        .socials__item: a.text--white(href='#'): i.icon-insta
        .socials__item: a.text--white(href='#'): i.icon-vk
    .is-col
      a.text--uppercase.text--grey(href='#')= index.footer 
