footer.page-footer
  .container
    .is-row.between__xs.middle__xs
      .is-col 
        .socials
          .socials__item: a(href='#'): i.icon-f
          .socials__item: a(href='#'): i.icon-insta
          .socials__item: a(href='#'): i.icon-vk
      .is-col
        a.text--uppercase.text--grey(href='#')= index.footer 
