header.page-header
    .container
      .is-row.middle__xs
        .is-col.is-col__md-6.is-col__xs-12
          .is-row.middle__xs.between__xs.start__md.fnowrap__md
            .page-header__logo.is-col
                a(href="/"): img(src="images/logo.png", alt="Company ltd.")
            include ../components/_navbar
            .is-col.hidden__md.hidden__lg.hidden__xl 
              a.popup.is-col(href='#form-id'): i.is-icons.is-icons--phone-blue
              a.page-header__search.popup(href='#search-id')
                i.is-icons.is-icons--search-blue
        .is-col.is-col__md-6.is-col__xs-12.hidden__sm.hidden__xs
          .is-row.middle__xs.between__xs.fnowrap__md
            .is-col.visible__lg.visible__xl
            .page-header__link.is-col
              i.is-icons.is-icons--PDF
              a(href='#') Презентация комплекса
            .page-header__link.is-col
              i.is-icons.is-icons--Phone
              a.popup(href='#form-id') обратный звонок
            .page-header__phone.is-col
              a(href='tel:+78122344566') (812) 234-45-66
            a.page-header__search.popup.is-col(href='#search-id')
              i.is-icons.is-icons--Search
