$icons: (
	  sprite: (width: 2616px, height: 84px, svgPath: '../images/svg/sprite.svg'),
 	F: (width: 18px, height: 25px, backgroundX: 0px, backgroundY: 0px),
 	Insta: (width: 25px, height: 25px, backgroundX: -38px, backgroundY: 0px),
 	PDF: (width: 17.799999999999997px, height: 14px, backgroundX: -83px, backgroundY: 0px),
 	Phone: (width: 24px, height: 24px, backgroundX: -121px, backgroundY: 0px),
 	Search: (width: 24px, height: 24px, backgroundX: -165px, backgroundY: 0px),
 	VK: (width: 25px, height: 25px, backgroundX: -209px, backgroundY: 0px),
 	area: (width: 32px, height: 32px, backgroundX: -254px, backgroundY: 0px),
 	bill: (width: 64px, height: 64px, backgroundX: -306px, backgroundY: 0px),
 	brush: (width: 40px, height: 40px, backgroundX: -390px, backgroundY: 0px),
 	bus: (width: 40px, height: 40px, backgroundX: -450px, backgroundY: 0px),
 	camera: (width: 64px, height: 64px, backgroundX: -510px, backgroundY: 0px),
 	choice: (width: 23px, height: 14px, backgroundX: -594px, backgroundY: 0px),
 	cleaning: (width: 64px, height: 64px, backgroundX: -637px, backgroundY: 0px),
 	close: (width: 15px, height: 15px, backgroundX: -721px, backgroundY: 0px),
 	close-gen: (width: 12px, height: 12px, backgroundX: -756px, backgroundY: 0px),
 	close-lg: (width: 26px, height: 26px, backgroundX: -788px, backgroundY: 0px),
 	condicioner: (width: 64px, height: 64px, backgroundX: -834px, backgroundY: 0px),
 	crumbs-arr: (width: 8px, height: 13px, backgroundX: -918px, backgroundY: 0px),
 	dollar: (width: 52px, height: 32px, backgroundX: -946px, backgroundY: 0px),
 	door: (width: 64px, height: 64px, backgroundX: -1018px, backgroundY: 0px),
 	down-arr: (width: 17px, height: 13px, backgroundX: -1102px, backgroundY: 0px),
 	envelope: (width: 19px, height: 16px, backgroundX: -1139px, backgroundY: 0px),
 	fan: (width: 64px, height: 64px, backgroundX: -1178px, backgroundY: 0px),
 	genplan: (width: 19px, height: 23px, backgroundX: -1262px, backgroundY: 0px),
 	hex-ico: (width: 18px, height: 21px, backgroundX: -1301px, backgroundY: 0px),
 	hexa-ico: (width: 18px, height: 21px, backgroundX: -1339px, backgroundY: 0px),
 	house: (width: 18px, height: 18px, backgroundX: -1377px, backgroundY: 0px),
 	light: (width: 64px, height: 64px, backgroundX: -1415px, backgroundY: 0px),
 	list: (width: 40px, height: 40px, backgroundX: -1499px, backgroundY: 0px),
 	loc: (width: 28px, height: 36px, backgroundX: -1559px, backgroundY: 0px),
 	menu: (width: 20px, height: 17px, backgroundX: -1607px, backgroundY: 0px),
 	mouse: (width: 25px, height: 41px, backgroundX: -1647px, backgroundY: 0px),
 	news-arr: (width: 10px, height: 14px, backgroundX: -1692px, backgroundY: 0px),
 	next-arr: (width: 10px, height: 14px, backgroundX: -1722px, backgroundY: 0px),
 	nextw-arr: (width: 13px, height: 17px, backgroundX: -1752px, backgroundY: 0px),
 	parking: (width: 40px, height: 40px, backgroundX: -1785px, backgroundY: 0px),
 	phone-blue: (width: 20px, height: 20px, backgroundX: -1845px, backgroundY: 0px),
 	photo: (width: 30px, height: 30px, backgroundX: -1885px, backgroundY: 0px),
 	prev-arr: (width: 11px, height: 15px, backgroundX: -1935px, backgroundY: 0px),
 	prevw-arr: (width: 11px, height: 15px, backgroundX: -1966px, backgroundY: 0px),
 	question: (width: 21px, height: 21px, backgroundX: -1997px, backgroundY: 0px),
 	search-blue: (width: 19px, height: 19px, backgroundX: -2038px, backgroundY: 0px),
 	search-lg: (width: 28px, height: 27px, backgroundX: -2077px, backgroundY: 0px),
 	security: (width: 64px, height: 64px, backgroundX: -2125px, backgroundY: 0px),
 	serv: (width: 40px, height: 40px, backgroundX: -2209px, backgroundY: 0px),
 	sort-arr: (width: 13px, height: 19px, backgroundX: -2269px, backgroundY: 0px),
 	star: (width: 40px, height: 40px, backgroundX: -2302px, backgroundY: 0px),
 	stroller: (width: 64px, height: 64px, backgroundX: -2362px, backgroundY: 0px),
 	team: (width: 40px, height: 40px, backgroundX: -2446px, backgroundY: 0px),
 	vega: (width: 40px, height: 40px, backgroundX: -2506px, backgroundY: 0px),
 	video: (width: 30px, height: 30px, backgroundX: -2566px, backgroundY: 0px),
);
