//
// Variables


//- Variables -> Base
$base-font-family:                    "gilroyregular", Arial, sans-serif !default;
$base-font-family-serif:              "Times New Roman", serif !default;
$base-font-size:                      14px !default;
$base-font-weight:                    300 !default;
$base-line-height:                    1.471 !default;
$base-color:                          $black !default;
$base-background:                     #e9ebf5 !default;
$base-padding:                        8px;

//- Link
$link-color:                          $base-color-main;
$link-hover-color:                    $black-darken;
$link-decoration:                     none;


//- Variables -> Typography
$font-size-large:                     ceil(($base-font-size * 1.125)) !default; // ~18px
$font-size-medium:                    ceil((16px * 1)) !default; // ~16px
$font-size-small:                     ceil(($font-size-medium * 0.75)) !default; // ~12px
$font-size-tiny:                      ceil(($base-font-size * 0.76)) !default; // ~12px

$font-size-h1:                        floor(($font-size-medium * 4.25)); // ~68px
$font-size-h2:                        floor(($font-size-medium * 2.5)); // ~40px
$font-size-h3:                        floor(($font-size-medium * 1.875)); // ~30px
$font-size-h4:                        ceil(($font-size-medium * 1.5)); // ~24px
$font-size-h5:                        ceil(($font-size-medium * 1.25)); // ~20px
$font-size-h6:                        ceil(($font-size-medium * 1)); // ~14px

$line-height-computed:                floor(($base-font-size * $base-line-height)); // ~22px
$line-height-computed-half:           floor(($base-font-size * $base-line-height) / 2); // ~11px

$headings-font-family:                "gilroymedium", sans-serif !default;
$headings-font-weight:                500 !default;
$headings-line-height:                1.3 !default;
$headings-color:                      inherit !default;


//- Grid
$screen-sm:                           480px;
$screen-sm-min:                       $screen-sm;
$screen-phone:                        $screen-sm-min;

$screen-md:                           768px;
$screen-md-min:                       $screen-md;
$screen-tablet:                       $screen-md-min;

$screen-tablet-h:                     940px;

$screen-lg:                           1300px;
$screen-lg-min:                       $screen-lg;
$screen-desktop:                      $screen-lg-min;

$screen-xl:                           1840px;
$screen-xl-min:                       $screen-xl;
$screen-xl-desktop:                   $screen-xl-min;

$screen-xs-max:                       ($screen-sm-min - 1) !default;
$screen-sm-max:                       ($screen-md-min - 1) !default;
$screen-md-max:                       ($screen-lg-min - 1) !default;
$screen-lg-max:                       ($screen-xl-min - 1) !default;

$screen-adaptive-nav:                 $screen-md-min;

//- Number of columns in the grid system
$grid-columns:                        12;
$grid-gutter-width:                   16px;
$grid-gutter-width-md:                30px;


//- Small screen / tablet
$container-mobile:                    (440px + $grid-gutter-width);
$container-sm:                        $container-mobile;

//- Small screen / tablet
$container-tablet:                    100%;
$container-md:                        $container-tablet;

//- Medium screen / desktop
$container-desktop:                   (1250px + $grid-gutter-width);
$container-lg:                        $container-desktop;

//- Large screen / wide desktop
$container-large-desktop:             (1810px + $grid-gutter-width);
$container-xl:                        $container-large-desktop;

//- Btn
$btn-font-weight:                     400;

$btn-default-color:                   $gray !default;
$btn-default-bg:                      $white-lighten !default;
$btn-default-border:                  $btn-default-bg !default;

$btn-primary-color:                   #fff !default;
$btn-primary-bg:                      $base-color-main !default;
$btn-primary-border:                  $btn-primary-bg !default;

$btn-success-color:                   #fff !default;
$btn-success-bg:                      $color-type-4a !default;
$btn-success-border:                  $btn-success-bg !default;

$btn-info-color:                      #fff !default;
$btn-info-bg:                         $color-type-1a !default;
$btn-info-border:                     $btn-info-bg !default;

$btn-warning-color:                   #fff !default;
$btn-warning-bg:                      $color-type-3a !default;
$btn-warning-border:                  $btn-warning-bg !default;

$btn-danger-color:                    #fff !default;
$btn-danger-bg:                       $color-type-2b !default;
$btn-danger-border:                   $btn-danger-bg !default;

$btn-outlined-color:                  $base-color-main !default;
$btn-outlined-bg:                     transparent !default;
$btn-outlined-border:                 $btn-outlined-color !default;

//- Padding
$padding-base-vertical:               9px;
$padding-base-horizontal:             12px;

$padding-large-vertical:              23px;
$padding-large-horizontal:            36px;

$padding-small-vertical:              7px;
$padding-small-horizontal:            10px;

$padding-tiny-vertical:               5px;
$padding-tiny-horizontal:             8px;

$line-height-large:                   1.5;
$line-height-small:                   1.3;
$line-height-tiny:                    1.2;
$line-height-btn:                     1.8333333;

$border-radius-base:                  0;
$border-radius-large:                 0;
$border-radius-small:                 0;

$btn-border-radius-base:              $border-radius-base;
$btn-border-radius-large:             $border-radius-large;
$btn-border-radius-small:             $border-radius-small;


// Type
$blockquote-small-color:              $gray-darken-2;
$blockquote-font-size:                18px;
$blockquote-border-color:             $gray-darken-1;


//- Breadcrumbs
$breadcrumb-padding-vertical:         15px;
$breadcrumb-padding-horizontal:       15px;
$breadcrumb-bg:                       #f3f5fa;
$breadcrumb-color:                    $base-color-main;
$breadcrumb-active-color:             $gray;
$breadcrumb-separator:                ">";


//- Pagination
$pagination-color:                    #54657e;
$pagination-bg:                       #fff;
$pagination-border:                   #fff;

$pagination-hover-color:              #fff;
$pagination-hover-bg:                 $base-color-main;
$pagination-hover-border:             $base-color-main;

$pagination-active-color:             #fff;
$pagination-active-bg:                $base-color-main;
$pagination-active-border:            $base-color-main;


//- Pager
$pager-bg:                            $pagination-bg;
$pager-border:                        #cad3df;
$pager-border-radius:                 50px;
$pager-hover-bg:                      $pagination-hover-bg;
$pager-hover-color:                   $pagination-hover-color;
$pager-active-bg:                     $pagination-active-bg;
$pager-active-color:                  $pagination-active-color;


//- Accordion
$accordion-padding-vertical:         8px;
$accordion-padding-horizontal:       15px;
$accordion-margin-top:               15px;
$accordion-bg:                       transparent;
$accordion-color:                    #333;
$accordion-active-color:             $gray-darken-2;

//- Tables
$table-cell-padding:                  20px 30px;
$table-condensed-cell-padding:        5px;

$table-bg:                            transparent;
$table-bg-accent:                     #f9f9f9;

$table-bg-hover:                      $base-color-main;
$table-bg-active:                     $table-bg-hover;

$table-border-color:                  $gray;


//- Navbar
$navbar-height:                       50px;
$navbar-margin-bottom:                $line-height-computed;
$navbar-border-radius:                $border-radius-base;
$navbar-padding-horizontal:           floor(($grid-gutter-width / 2));
$navbar-padding-vertical:             (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:          340px;

$navbar-default-color:                #777;
$navbar-default-bg:                   #f8f8f8;
$navbar-default-border:               darken($navbar-default-bg, 6.5%);

//- Navbar toggle
$navbar-default-toggle-hover-bg:      #ddd;
$navbar-default-toggle-icon-bar-bg:   #888;
$navbar-default-toggle-border-color:  #ddd;

//- Navbar links
$navbar-default-link-color:           #777;
$navbar-default-link-hover-color:     #333;
$navbar-default-link-hover-bg:        transparent;
$navbar-default-link-active-color:    #555;
$navbar-default-link-active-bg:       darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:  #ccc;
$navbar-default-link-disabled-bg:     transparent;


//- Navs
$nav-link-padding:                     10px 15px;
$nav-link-hover-bg:                    $color-type-3a;
$subnav-link-hover-bg:                 $color-type-3b;

$nav-tabs-active-link-hover-bg:        $base-background;
$nav-tabs-active-link-hover-color:     $gray;
$nav-tabs-active-link-hover-border-color: #ddd;

$nav-tabs-justified-link-border-color:  #ddd;
$nav-tabs-justified-active-link-border-color: $base-background;


$close-font-weight:                    bold !default;
$close-color:                          #000 !default;
$close-text-shadow:                    none !default;


//- Form states and table
$input-bg:                             $white-lighten !default;
$input-bg-disabled:                    $gray-darken-1 !default;

$input-color:                          $black !default;
$input-border:                         $gray !default;

$input-border-radius:                  $border-radius-base !default;
$input-border-radius-large:            $border-radius-large !default;
$input-border-radius-small:            $border-radius-small !default;

$input-border-focus:                   $base-color-main !default;
$input-color-placeholder:              #a1a1a1 !default;

$input-height-base:                    ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;
$input-height-large:                   (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:                   (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


$input-group-addon-bg:                 $gray-darken-1 !default;
$input-group-addon-border-color:       $input-border !default;


$state-primary-text:                   $base-color-main !default;
$state-primary-bg:                     $base-color-main !default;
$state-primary-border:                 darken(adjust-hue($state-primary-bg, -10), 5%) !default;

$state-success-text:                   $color-type-4a !default;
$state-success-bg:                     $color-type-4a !default;
$state-success-border:                 darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                      $color-type-1a !default;
$state-info-bg:                        $color-type-1a !default;
$state-info-border:                    darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:                   $color-type-3a !default;
$state-warning-bg:                     $color-type-3a !default;
$state-warning-border:                 darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:                    $color-type-2a !default;
$state-danger-bg:                      $color-type-2a !default;
$state-danger-border:                  darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$form-group-margin-bottom:             40px !default;

$legend-color:                         $black !default;
$legend-border-color:                  #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                      not-allowed;

//-- Z-index master list
$zindex-navbar:                        1000;
$zindex-navbar-fixed:                  1030;
$zindex-modal-background:              1040;
$zindex-modal:                         1050;



// Variables -> Components

// Navbar


// Variables -> Partials

// Header


// Variables -> Pages

// Home
