main.page-main
  include ../components/_breadcrumbs
  .blurb
    .container
      .is-col__lg-11.centered-block
        .is-row
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-3.hidden__sm.hidden__xs
            h1.text--grey О Бизнес Парке
            ul.aside-menu
              li.aside-menu__item
                a(href='#') О Компании
              li.aside-menu__item
                a(href='news.html') Новости
              li.aside-menu__item
                a(href='infrastructure.html') Инфраструктура
              li.aside-menu__item
                a(href='gallery.html') Медиатека
              li.aside-menu__item
                a(href='lease.html') Арендаторы
              li.aside-menu__item
                a(href='services.html') Услуги
              li.aside-menu__item
                a.active(href='advert.html') Размещение рекламы
          section.is-col.is-col__xl-6.is-col__lg-7.is-col__md-9.is-col__xs-12
            h2 Размещение рекламы
            .blurb-inner.is-row.middle__xs.between__md.center__xs.text--center.text--uppercase
              .blurb__item.is-col.is-col__md-4.is-col__sm-6.is-col__xs-12
                .blurb__item-img: img(src="images/blurb-1.png")
                a.popup-in(href='#prices-id') Лайтбоксы
                div (панорама у входа)
              .blurb__item.is-col.is-col__md-4.is-col__sm-6.is-col__xs-12
                .blurb__item-img: img(src="images/blurb-2.png")
                a.popup-in(href='#prices-id') Автобус
              .blurb__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
                .blurb__item-img: img(src="images/blurb-3.png")
                a.popup-in(href='#prices-id') Флагшток
                div на территории
              .blurb__item.is-col.is-col__md-4.is-col__sm-6.is-col__xs-12
                .blurb__item-img: img(src="images/blurb-4.png")
                a.popup-in(href='#prices-id') Буквы на крыше
              .blurb__item.is-col.is-col__md-4.is-col__sm-6.is-col__xs-12
                .blurb__item-img: img(src="images/blurb-5.png")
                a.popup-in(href='#prices-id') Баннер на фасаде
              .blurb__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-8.text__md--left
                div По вопросам размещения рекламы звоните: 8 (812) 908-82-86 или 
                  a.text--primary(href='#') Отправьте заявку
              
