main.page-main
  include ../components/_breadcrumbs
  .card
    .container
      .is-col__lg-11.centered-block
        .is-row
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-4.is-col__xs-12
            .aside-menu
              h1.text--grey Литер «Д»
              .card-info.text--uppercase.is-row
                .card-info__item.is-col.is-col__xs-6
                  span этаж
                  .text--grey 1-й этаж
                .card-info__item.is-col.is-col__xs-6
                  span тип помещения
                  .text--grey офис
                .card-info__item.is-col.is-col__xs-6
                  span площадь
                  .text--grey от 10 м#[sup 2]
                .card-info__item.is-col.is-col__xs-6
                  span Арендная ставка
                  .text--grey 750р/ м#[sup 2]
              .card-info-links
                .card-info-links__item.tableb-tablet
                  a.btn.btn--unreal.btn--primary.btn__lg(href='#') записаться #[br] на просмотр
                .card-info-links__item.tableb-tablet
                  a.btn.btn--outlined.btn__lg.btn--cond(href='#') запросить #[br] план момещения
              a.card-info-env.text--uppercase.hidden__sm.hidden__xs(href='#')
                i.icon-mail
                span задать вопрос
          section.is-col.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12
            h2 Офис №213
            .relative
              .slider-arrow
              .slider-for
                img(src="images/card-main.jpg", alt="alt")
                img(src="images/card-main.jpg", alt="alt")
                img(src="images/card-main.jpg", alt="alt")
              .slider-nav.is-col__lg-9.hidden__sm.hidden__xs
                img(src="images/card-main-1.jpg", alt="alt")
                img(src="images/card-main-2.jpg", alt="alt")
                img(src="images/card-main-3.jpg", alt="alt")
            h2 Описание
            p Ассортимент домашней выпечки собственного производства, а также: бизнес-ланчи, обеды на вынос, полуфабрикаты (по предварительному заказу), выбор напитков, чая и кофеКафе на Цветочной рады предоставить в распоряжение арендаторов отдельный уютный зал для проведения кофе-брейк, деловых обедов.
            p   Кроме того, в Кафе на Цветочной Вам помогу организовать проведение банкетов, праздников, корпоративных мероприятий и разработать меню по Вашему вкусу. Кафе на Цветочной заключает договоры с арендаторами на организацию питания сотрудников по безналичному расчету.
            h3 Что входит в арендную ставку?
            include ../components/_card-list
            h3 Дополнительные услуги
            .card-serv.is-row
              .card-serv__item.is-col.is-col__md-6.is-col__xs-12
                ul.list--unstyled
                  li
                    i.is-icons.is-icons--brush
                    span Клининговые услуги
                  li
                    i.is-icons.is-icons--parking
                    span Парковка
                  li
                    i.is-icons.is-icons--vega
                    span Юридические услуги
                  li
                    i.is-icons.is-icons--serv
                    span Услуги системного администратора
              .card-serv__item.is-col.is-col__md-6.is-col__xs-12
                ul.list--unstyled
                  li
                    i.is-icons.is-icons--star
                    span Охранное предприятие
                  li
                    i.is-icons.is-icons--bus
                    span Аренда автобуса
                  li
                    i.is-icons.is-icons--list
                    span Рекламные услуги
                  li
                    i.is-icons.is-icons--team
                    span Переговорные помещения
            h2 Преимущества
            .card-edge.is-row.stretch__xs.mobile-slider
              a.card-edge__item.is-col(href='#')
                .card-edge__item-num 01
                .card-edge__item-title Аэропорт 15 мин.
              a.card-edge__item.is-col(href='#')
                .card-edge__item-num 02
                .card-edge__item-title Метрополитен 10 мин.
              a.card-edge__item.is-col(href='#')
                .card-edge__item-num 03
                .card-edge__item-title Бесплатная автобусная развозка
              a.card-edge__item.is-col(href='#')
                .card-edge__item-num 04
                .card-edge__item-title Электрификация; Водоснабжение; Газификация.
              a.card-edge__item.is-col(href='#')
                .card-edge__item-num 05
                .card-edge__item-title Своя железнодорожная ветка
              a.card-edge__item.is-col(href='#')
                .card-edge__item-num 06
                .card-edge__item-title Евроремонт
              a.card-edge__item.is-col(href='#')
                .card-edge__item-num 07
                .card-edge__item-title Техобслуживание включено
              a.card-edge__item.is-col(href='#')
                .card-edge__item-num 08
                .card-edge__item-title Бесплатная гостевая парковка
              a.card-edge__item.is-col(href='#')
                .card-edge__item-num 09
                .card-edge__item-title Кафе. мнимаркет на территории и др.
            .hidden__xs.hidden__sm.hidden__md.hidden__lg.hidden__xl
              .card-info-env.text--uppercase.text--center
                i.icon-mail
                p: b задать вопрос
              .card-info-links
                .card-info-links__item
                  a.btn.btn--unreal.btn--primary.btn__lg(href='#') записаться #[br]  на просмотр
                .card-info-links__item
                  a.btn.btn--outlined.btn__lg.btn--cond(href='#') запросить  #[br] план момещения
