main.page-main
  .contacts
    .contacts-link.contacts-link--js
      a.btn.btn--default.btn__lg(href='#')
        i.is-icons.is-icons--loc
        span раскрыть карту
    .container
      .is-col__lg-11.centered-block
        .is-row
          aside.is-col.is-col__lg-3.is-col__xs-12.text--center.text__lg--left
            h1.text--grey= title
            .contacts__item
              p Многоканальный телефон
              ul.list--inline.ffbold
                li 622-1-622
                li 908-82-86
                li 908-85-89
            .contacts__item
              p Отдел продаж
              .ffbold 622-1-622
            .contacts__item
              p Отдел рекламы
              .ffbold 622-1-622
            .contacts__item
              h5 Адрес
              .ffbold.text--uppercase 196084, санкт-петербург, ул. Цветочная, 18
            .contacts__item
              h5 Почтовый адрес
              .ffbold.text--uppercase 196084, санкт-петербург, ул. Цветочная, 18
            .tableb-mobile
              a.btn.btn--unreal.btn--primary.btn__lg.text--center(href='#') написать нам
          section.is-col.is-col__lg-9.is-col__xs-12
            h2 Схема проезда
            .contacts-inner
              .hidden__sm.hidden__xs
                img(src='images/contacts-map.png', alt='') 
              .contacts-map                
                script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIwxPKB0U5RRTgWEElBHP1s6dkY4OJWM&callback=initMap", defer, async)
                #map
