main.page-main
  .shop-links.text--uppercase
    a.shop-links__item(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .filter
    .container
      .is-col__lg-11.centered-block
        .is-row.center__xs
          aside.is-col.is-col__lg-4.is-col__md-7.is-col__xs-12
            include ../components/_filter
          section.is-col.is-col__lg-6.is-col__xs-12
            h2= title
            p.text--uppercase Попробуйте изменить параметры фильтра или 
              b: a(href='#') связаться с нами
