main.page-main
  include ../components/_breadcrumbs
  .gallerym.uikit
    .container
      .is-col__lg-11.centered-block
        .is-row
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-4.is-col__xs-12.hidden__sm.hidden__xs
            h1.text--grey О Бизнес Парке
            ul.aside-menu
              li.aside-menu__item
                a(href='#') О Компании
              li.aside-menu__item
                a(href='news.html') Новости
              li.aside-menu__item
                a(href='infrastructure.html') Инфраструктура
              li.aside-menu__item
                a.active(href='gallery.html') Медиатека
              li.aside-menu__item
                a(href='lease.html') Арендаторы
              li.aside-menu__item
                a(href='services.html') Услуги
              li.aside-menu__item
                a(href='advert.html') Размещение рекламы
          section.is-col.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12
            h2= title
            .is-row.is-row--sm.gallery.gallery--main
              .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12: a(href='gallery-i.html')
                .gallery-txt
                  .flex-top: i.is-icons.is-icons--photo
                  .flex-end Организация #[br] бизнес-ланчей
                img(src='images/gallery-1.jpg', alt='')
              .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12: a(href='gallery-i.html')
                .gallery-txt
                  .flex-top: i.is-icons.is-icons--photo
                  .flex-end кафе рядом с бизнес парком
                img(src='images/gallery-2.jpg', alt='')
            .text--center
              button.btn.btn__lg.btn--primary.show--js.gallery-btn загрузить еще 33
            .hide 
              .is-row.is-row--sm.gallery.gallery--main
                - for (var x = 1; x < 3; x++)
                  .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12: a(href='gallery-i.html')
                    .gallery-txt 
                      .flex-top: i.is-icons.is-icons--photo
                      .flex-end Организация #[br] бизнес-ланчей
                    img(src='images/gallery-1.jpg', alt='')
                  .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12: a(href='gallery-i.html')
                    .gallery-txt 
                      .flex-top: i.is-icons.is-icons--photo
                      .flex-end кафе рядом с бизнес парком
                    img(src='images/gallery-2.jpg', alt='')
                  .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12: a(href='gallery-v.html')
                    .gallery-txt  
                      .flex-top: i.is-icons.is-icons--video
                      .flex-end парковка #[br] &nbsp;
                    img(src='images/gallery-3.jpg', alt='')
                  .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12: a(href='gallery-v.html')
                    .gallery-txt 
                      .flex-top: i.is-icons.is-icons--video
                      .flex-end кафе рядом с бизнес парком
                    img(src='images/gallery-4.jpg', alt='')
                  .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12: a(href='gallery-i.html')
                    .gallery-txt 
                      .flex-top: i.is-icons.is-icons--photo
                      .flex-end открытие бизнес парка
                    img(src='images/gallery-5.jpg', alt='')
                  .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12: a(href='gallery-i.html')
                    .gallery-txt 
                      .flex-top: i.is-icons.is-icons--photo
                      .flex-end Организация бизнес-ланчей
                    img(src='images/gallery-6.jpg', alt='')
