main.page-main
  include ../components/_breadcrumbs
  .gallerym.uikit
    .container
      .is-col__lg-11.centered-block
        .is-row
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-4.is-col__xs-12.hidden__sm.hidden__xs
            h1.text--grey О Бизнес Парке
            ul.aside-menu
              li.aside-menu__item
                a(href='#') О Компании
              li.aside-menu__item
                a(href='news.html') Новости
              li.aside-menu__item
                a(href='infrastructure.html') Инфраструктура
              li.aside-menu__item
                a.active(href='gallery.html') Медиатека
              li.aside-menu__item
                a(href='lease.html') Арендаторы
              li.aside-menu__item
                a(href='services.html') Услуги
              li.aside-menu__item
                a(href='advert.html') Размещение рекламы
          section.is-col.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12
            h2= title
            .gallery-video 
              .playbutton: img(src='images/icons/play.svg', alt='')
              video(poster="images/video.jpg", style='width:100%') 
                source(src="images/small.mp4", type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
                | Тег video не поддерживается вашим браузером. 
            p На 2-м этаже Бизнес-центра расположилось уютное Кафе На Цветочной. Приветливый и внимательный персонал предлагает арендаторам и их гостям полноценное и качественное питание с разнообразным меню, широким ассортиментом домашней выпечки собственного производства, а также:
            ul.list--bullet
              li Бизнес-ланчи
              li Обеды на вынос
              li Полуфабрикаты (по предварительному заказу)
              li Большой выбор прохладительных напитков, чая и кофе
            p Кафе на Цветочной рады предоставить в распоряжение арендаторов отдельный уютный зал для проведения кофе-брейк, деловых обедов. 
            p Кроме того, в Кафе на Цветочной Вам помогу организовать проведение банкетов, праздников, корпоративных мероприятий и разработать меню по Вашему вкусу. Кафе на Цветочной заключает договоры с арендаторами на организацию питания сотрудников по безналичному расчету
