main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «А»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera А
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1173" height="734" viewBox="0 0 1173 734.1" xml:space="preserve")
                image(x="0" y="0" width="1173" height="734" preserveaspectratio="none" xlink:href="images/3D/korpA_2.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="154.1,436.7 180.5,424.8 185.6,434.9 159.8,447.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="161.5,451.3 187.3,438.8 202.4,470.9 176.7,483.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="187.6,482.4 199.4,506.7 152.3,529.1 149.5,522.6 146.9,523.9 141,510 144.6,508.5 141.8,502.3 187.1,481.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="153.6,531.8 200.6,509.5 212.7,534.5 164.6,558.9 161.7,552.3 159.7,553.3 153.3,538.7 156.3,537.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="166.3,562.2 213.6,538.1 225.7,562.1 178,585.2 175.8,580.6 172.1,582.4 165.9,568.3 168.2,567.2 165.9,562.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="176.9,587.7 245,555.1 259.3,584.5 190.2,618")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="243.4,542.5 275.8,526.4 295.9,566.6 261.9,583.2 242.2,542.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="183.3,422.1 242.6,395.3 266.3,440.7 205.8,469.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="244.6,394.3 306.6,366.3 334.2,418.9 273.1,447.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="372.5,337.3 415.3,317.9 445.4,368.6 402,389.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="417.3,317 452.6,301 483.6,350.9 447.6,367.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="334.2,421.4 390.3,393.8 391.9,396.5 884.8,166.5 879.4,160.4 924.1,139.6 930.3,145.7 979.4,122.2 992.6,135.9 343.8,440.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="190.5,480.3 267.5,444.4 270.8,451 331.7,422.7 341.5,441.1 228.6,494.7 223.7,485.4 214.9,489.8 244.6,552.4 227.8,560.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="230.4,497.5 342.1,444 385.4,523.2 298.5,565.2 277.2,522.5 249.4,536.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="344.2,443.4 410.7,411.6 425.2,436.5 358.5,469.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="437.2,398.8 482.6,475.5 457.6,487.7 413.4,410.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="395,453.3 423.8,504.3 387.1,522.4 359.1,471")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="426.4,437.8 455.4,488.9 425.6,503.5 396.5,452.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="438.6,398.3 502.3,368.4 518.4,393.2 489.8,407.1 519.6,457.2 483.8,474.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="503.9,367.6 530,355.6 577.2,429.3 521,456.5 492.2,407.8 520.9,393.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="532.9,354.9 566.7,338.8 582.4,364 588.6,360.8 619.7,408.7 579.3,428.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="568.3,338.1 607.4,319.6 656,391.2 621.5,407.7 589.5,357.8 583.1,361.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="668.9,290.6 694.4,278.6 745.4,346.9 718.8,360.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="697.3,277.2 726.5,263.6 743.9,287.7 763,277.6 796.8,321.7 747.6,345.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="608.9,319.1 666.8,291.3 684.1,315.4 659.9,327 692.5,373.2 657.7,390.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="729,262.7 766.7,244.7 817.8,310.6 799,320 764.2,273.9 744.4,284.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="769.4,243.5 822,218.5 839.5,240 816.1,251.7 850.9,294.8 820.5,309.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="825.1,217.1 848.2,206.4 901,269.7 852.8,293.1 820.7,252 843.7,240.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="850.9,205.4 879.5,192 899,215.3 903.8,212.7 937.5,252 903.8,268.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="883.4,190.4 915.9,174.9 969.8,235.9 939,251.1 903.9,209.2 898.8,212.1 881.6,191.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="918.6,173.4 968.5,150.1 986.1,169.9 965.7,181.2 1000.3,221.1 972.2,234.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="969.8,181.7 990.2,170.6 970.8,148.6 993.9,137.9 1049.9,197.4 1002.6,220.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="455,300.1 485.4,286.5 516.3,335.5 485.3,350.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="686.9,195.3 717.9,181.3 752.8,226 735.8,234.1 731.4,228.1 716.6,234.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="719.5,180.7 753.2,165.1 788.3,209.5 754.7,225.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="754.6,164.4 784.4,150.6 819.8,194.7 789.7,208.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="786.7,149.7 816.1,136.4 852.3,179.3 822.2,193.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="818.3,135.6 847.5,122.2 878.4,158.3 874.6,160.1 879.7,166 853.7,178.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="923.7,89 942.1,80.6 977.3,120.1 959.5,128.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="518.9,271.2 550.4,319.9 519,334.6 488,285.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="521.4,270.6 542.9,260.6 573.6,309.3 552.6,319.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="544.4,260 581.3,243.4 613.8,290.9 575.6,308.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="583.3,242.3 615,228 648.4,274.5 615.9,289.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="616.9,227 647.1,213.4 681.1,259.3 650.2,273.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="649.3,212.7 685.2,196.2 714.7,235.6 707.1,239.1 711.5,244.9 682.8,258.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="663.2,327.5 685.1,317.2 716.5,361.3 694.8,372.1")