main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «Б»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10 
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera Б
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1317" height="829" viewBox="0 0 1317.1 829.1" xml:space="preserve")
                image(x="0" y="0" width="1317" height="829" preserveaspectratio="none" xlink:href="images/3D/korp_b_office_2.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="979.4,414.7 1040.1,489.5 938,548.3 878.9,470.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="819.3,502.6 864.5,478.5 852.1,462.4 860.5,457.5 932.6,551.2 876.7,583")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="574.6,246 728.5,175.7 772.4,233.2 616.1,308.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="876.2,466 976.3,411.9 870.7,281.3 746,344.3 792.7,407.5 804.9,400.8 848.6,458.3 857.5,453.3 854.1,448.9 860.5,445.3")
                path(class="st0 error" data-num="200" data-link="/" data-avail="0" d="M709.7,294.1l122.8-59.1l34.8,43.2l-99.6,49.4l-24.6,12.2L709.7,294.1z")