main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «В»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera В
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1240" height="872" viewBox="0 0 1240 872" xml:space="preserve")
                image(x="0" y="0" width="1240" height="872" preserveaspectratio="none" xlink:href="images/3D/korpV_4.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="251.9,310 249.1,305.4 257.1,301.9 254.5,297.9 340.6,262.6 395,357.1 334.3,384 305.1,332 265.4,349.6 246.5,312.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="290.9,373.7 287.3,375.2 284.5,370 237.4,390.1 240.6,394.6 194.4,414.6 217.2,461.6 315.5,418.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="218.3,463.7 249,524.7 349.8,479.4 316.1,420.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="249.7,527.4 278.6,585.2 381.6,537.2 350.3,481.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="279.4,587.4 315.3,659.3 412.5,612.5 401.6,594.3 409.4,590.8 380,540.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="388.9,551.5 422.8,608.3 516.6,562.2 483.1,507.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="390.2,326.4 901.5,108.8 1057,284.3 648,478.9 607.3,417.2 479.7,476.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="573.5,438.2 604.6,423.9 622.6,452.1 592.2,467.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="594.4,471.4 625,456.2 656.7,505.8 626.4,521.2")