main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «А»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera А
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1173" height="734" viewBox="0 0 1173 734.1" xml:space="preserve")
                image(x="0" y="0" width="1173" height="734" preserveaspectratio="none" xlink:href="images/3D/korpA_1.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="167.7,448.8 185.2,486.6 205.7,477 207.4,480.6 200.2,484.1 212.9,510.5 228.9,502.9 197.1,435.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="249.7,573.3 322.4,538.7 329.3,552.1 389.5,522.6 360,467.6 418.5,439 403.2,411.6 979,140.2 968.4,128.7 922.8,149.7 919,144.9 874.4,165.1 878.7,170.4 396.7,397.2 394.2,392.8 394.2,392.8 339.9,418.3 218.1,474.4 232.7,504.7 166,536.9 175.1,556.9 241,525.3 256.1,555 243.3,561 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="365.9,470.8 421.3,443.7 450.5,493.1 393.6,521.1 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="407.8,413.1 472.3,382 519,458.8 453.1,491.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="493.8,410.6 520.6,396.6 502.8,367.5 528.8,355.2 576.2,430.7 522.8,457.2 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="531.4,354.1 603.7,320 653.1,392.3 578,429.4 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="606.4,318.7 656.5,294.8 672.6,317.2 652.5,327.5 663.8,342.8 634,357.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="658.8,293.8 689.6,279.4 741.2,349.7 689.3,375 655.7,328.2 675.5,317.6 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="691.4,278.5 740,255.7 758.8,279.4 709.5,303.5 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="742.7,254.6 771.5,240.8 792.4,267.1 798.1,263.9 829.9,305 795,322.5")
                path(class="st0 error" data-num="200" data-link="/" data-avail="0" d="M775.9,239c0.4,0,34-16.1,34-16.1l52.2,66.1l-30.3,14.9l-33.2-42.9l-5.9,3.3l-18.7-24.5L775.9,239z")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="812.6,221.7 864.5,196.9 883,219.6 859.4,232 893.7,274.3 865.3,287.9 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="863,232.5 896.3,273.4 942.4,250.6 888.3,185.6 867.8,195.4 887.9,219.6 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="890.5,184.7 916.9,172 938.8,196.8 944.4,193.7 977.5,232.5 944.5,248.9 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="919.6,170.9 952.9,155.1 1008.4,216.8 979.7,231.1 945,190.7 939.8,193.5 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="954.8,154.6 980.4,142.1 1035.4,202.8 1010,216.2 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="966.9,127.6 952.1,134.2 916.9,94.5 931.6,87.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="925.6,141.7 921,143.9 923.7,147.4 949.6,135.3 914,95.9 846.9,126.2 861.3,143.9 909.7,121.1 923.4,139 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="375.9,340.2 431.6,314.7 461.4,363.8 408.2,388.7 405.2,382.9 401.3,384.8 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="434.1,313.6 488.7,289.2 518.4,337.3 463.8,362.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="544,263.9 580.1,247.8 611.9,293.3 575.6,310.6 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="583.5,246.6 614,232.5 646.6,277.2 614.2,292.4 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="616.9,231 646,217.8 678.4,262 649.7,275.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="648.4,216.6 676.7,203.6 709.1,247.6 680.7,260.9 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="709.1,189.2 745.5,172.3 779,215.1 749.2,229.2 730.2,204.2 722.8,207.6 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="748.3,170.7 780.1,156 813.8,198.8 781.5,213.9 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="782.7,155 811.1,142 845.4,183.5 816.2,197.5 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="813.6,140.9 841,128.2 875.3,169.7 848,182.6 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="194.4,421.7 249.8,397.3 273.5,446.7 217.3,472.8 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="252.8,395.9 312.5,369.3 337.3,417.5 276.8,445.5 ")