main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «З»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera З
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1244" height="879" viewBox="0 0 1244.3 878.8" xml:space="preserve")
                image(x="0" y="0" width="1244" height="879" preserveaspectratio="none" xlink:href="images/3D/korpZ_2.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="244.2,313.9 313.1,282.3 389.7,399.2 317.8,434.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="316.5,280.8 376,252.6 453.9,367.5 392.2,398.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="379.6,250.7 444.1,220.8 523.9,332.8 456.7,366.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="280.6,512 391.3,700.5 590.8,592.2 511.5,474 475.4,492.4 438.4,437.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="594.1,589.8 677.4,545.4 557,378.9 442.4,435.3 476.7,487.6 513,469")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="452.7,217.8 685.8,541.7 1072.8,339.5 817.2,52.5")