main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «В»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera В
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1240" height="872" viewBox="0 0 1240 872" xml:space="preserve")
                image(x="0" y="0" width="1240" height="872" preserveaspectratio="none" xlink:href="images/3D/korpV_6.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="246.9,290.9 266.1,326.8 306,310.5 334.5,360.5 395.3,334 341.7,243.3 254.8,278.3 259.2,285.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="319,401.9 291.2,349.5 286,351.8 283.6,347.7 238,366.8 241.1,372 195.8,391 222.3,444.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="223.1,446.6 320.1,404 325.3,413.2 320.5,415.8 323.7,421.8 328.4,419.5 349.8,458.6 251.5,503.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="252.5,505.5 350.4,460.4 365.2,486.6 360.3,489.3 364,496 368.6,493.4 384.5,521.9 283.5,569.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="284.3,570.8 313.4,629.6 410.1,584.5 399,565.7 407,561.9 385.1,523.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="388.1,524.3 457.8,493.6 489.7,546.7 420.3,579.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="513.5,535.5 481.6,482.7 459.2,492.9 491.4,546.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="391.9,307 899.3,96.5 1055.2,264.2 645.6,450.4 606.1,392.6 479.1,451.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="552,423.1 603,400.1 624.2,431.2 573.9,455.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="594.5,448.5 625.4,434 656.4,479 625.4,493.8")