main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам
  .genplan.genplan-scheme
    .container
      .is-col__xl-11.centered-block
        .is-row.between__xs.middle__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-6.is-col__xs-12
            h1.text--grey Литер «Е»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников.
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-6.is-col__md-5.is-col__xs-12
            .genplan-litera Е
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="682" height="448" viewBox="0 0 682.1 448.2" xml:space="preserve")
                image(x="0" y="0" width="682" height="448"  preserveaspectratio="none" xlink:href="images/2D/E2.png")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="36.7,24.1 176.9,23.8 228.2,23.7 228.2,425.9 108.4,425.9 36.7,425.9")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="240,23.7 263.2,23.7 376.2,23.7 376.2,119.7 240,119.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="240,128.9 308.1,128.9 375.9,128.9 376.2,219.9 240,219.9")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="240,231.2 294.5,231.2 335.3,231.1 335.2,424.9 240,425.9")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="428.7,256.7 429.2,425.9 345.7,425.9 345.7,256.7 369.1,256.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="439.1,23.7 467.4,23.7 526.7,23.7 526.7,123.2 439.1,123.2")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="439.1,135.9 526.7,135.9 526.7,158.9 526.7,217.7 439.1,217.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="539.7,23.7 598.4,23.7 644.9,23.7 644.9,217.7 539.7,217.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="439.1,256.7 467.7,256.7 526.7,256.7 526.1,425.9 439.1,425.9")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="536.6,256.7 557.7,256.7 644.9,256.7 644.9,314.7 630.3,314.7 630.2,327.1 644.9,327.1 645.1,425.9 536.6,425.9")