main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «Б»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera Б
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1317" height="829" viewBox="0 0 1317.1 829.1" xml:space="preserve")
                image(x="0" y="0" width="1317" height="829" preserveaspectratio="none" xlink:href="images/3D/korp_b_office_5.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="895.4,424.7 1006.3,365.6 1075.8,445.6 962,507.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="833.3,344.9 942.2,290.7 1002.9,360.8 892.4,418.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="772.6,269.1 878.3,218.2 939.1,286.8 829.8,340.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="736.6,223.3 840.6,175.1 875.4,215.2 770.3,265.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="724.6,113.1 773.9,172.5 598.1,252.4 553.3,188.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="889.1,427.5 942.4,494.1 939.8,495.8 953.4,512.9 891.3,546.8 825.7,460.3")