main.page-main
  .contacts-link.contacts-link--js
    a.btn.btn--default.btn__lg(href='#')
      i.is-icons.is-icons--loc
      span раскрыть карту
  .genplan-main__img
    img(src='images/kompas.png', alt='')
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам

  .genplan.genplan-main
    .genplan-main__wrapper
      .genplan-main__formobile
        //- our popovers
        .popovers--js
        //- our popovers


        //- SVG with all info
        svg.svg-main(version="1.1" xmlns="http://www.w3.org/2000/svg" width="1900" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 1900 945" xml:space="preserve")
          //- image.hidden__sm.hidden__xs(x="0" y="0" width="1900" height="945" preserveaspectratio="none" xlink:href="images/back.jpg")
          image(x="0" y="0" width="1900" height="945" preserveaspectratio="none" xlink:href="images/back_m.jpg")
          rect(x="196" y="207" class="st0" width="97" height="53",
            data-build="А",
            data-avail="0",
            data-type="Бизнес центр",
            data-reverse='1',
            data-class="path1",
            data-vin="images/video/A_12.mp4",
            data-vout="images/video/A_11.mp4",
            data-vimg="images/plans/A.jpg",
            data-square="10 230 м2",
            data-floor="3",
            data-offices="200",
            data-squares="от 10 м2 до 230 м2",
            data-free="200",
            data-busy="150",
            data-info="<li>Складской комплекс</li> <li>2 индивидуальных подъемника по 1 000 кг</li>",
            data-svg="<polygon class='st0 success' data-link='/' data-avail='99' data-floor='1' points='1838.6,376.3 211.1,449.8 227.1,519.8 1821.1,442.8'/><polygon class='st0 error' data-link='/' data-floor='2' data-avail='0' points='1821.1,442.8 227.1,520.8 240.1,582.8 1804.1,506.8'/><polygon class='st0 error' data-link='/' data-floor='3' data-avail='0' points='1804.1,506.8 240.1,582.8 253.1,644.8 1791.1,561.8'/><polygon class='st0 error' data-link='/' data-floor='4' data-avail='0' points='1791.1,561.8 253.1,644.8 263.1,700.8 1780.1,613.8'/>"
            )
          rect(x="491" y="151" class="st0" width="136" height="72",
            data-build="Б",
            data-avail="0",
            data-type="Офисно-складской комплекс",
            data-class="path2",
            data-vin="images/video/B_12.mp4",
            data-vout="images/video/B_11.mp4",
            data-vimg="images/plans/B.jpg",
            data-square="10 230 м2",
            data-floor="3",
            data-offices="200",
            data-squares="от 10 м2 до 230 м2",
            data-free="200",
            data-busy="150",
            data-info="<li>Складской комплекс</li> <li>2 индивидуальных подъемника по 1 000 кг</li>",
            data-svg="<polygon class='st0 success' data-link='/' data-avail='99' data-floor='1' points='386.5,444.3 1805.5,444.3 1821.5,379.3 379.5,390.3 345.5,439.3 60.5,437.3 77.5,489.3 356.5,487.3'/><polygon class='st0 error' data-link='/' data-floor='2' data-avail='0' points='401,503.8 1786,512.8 1805,444.8 387,443.8 357,486.8 78,488.8 96,552.8 369,543.8'/><polygon class='st0 success' data-link='/' data-avail='99' data-floor='3' points='412,565.8 1767,577.8 1786,512.8 401,503.8 369,543.8 96,552.8 111,608.8 380,606.8'/>"
            )
          rect(x="660" y="175" class="st0" width="79" height="53",
            data-build="В",
            data-avail="0",
            data-type="Офисно-складской комплекс",
            data-class="path3",
            data-vin="images/video/V_12.mp4",
            data-vout="images/video/V_11.mp4",
            data-vimg="images/plans/V.jpg",
            data-square="10 230 м2",
            data-floor="3",
            data-offices="200",
            data-squares="от 10 м2 до 230 м2",
            data-free="200",
            data-busy="150",
            data-info="<li>Складской комплекс</li> <li>2 индивидуальных подъемника по 1 000 кг</li>",
            data-svg="<polygon class='st0 success' data-link='/' data-avail='99' data-floor='1' points='1788.4,489.5 1334.4,488.5 1298.4,404.5 140.4,406.5 122.4,334.5 1305.4,331.5 1342.4,410.5 1809.4,412.5'/><polygon class='st0 error' data-link='/' data-floor='2' data-avail='0' points='1765.4,577.5 1323.4,577.5 1287.4,493.5 162.4,496.5 145.4,424.5 1294.4,417.5 1331.4,499.5 1785.4,502.5'/><polygon class='st0 success' data-link='/' data-avail='99' data-floor='1' points='1742.4,666.5 1313.4,661.5 1276.4,583.5 184.4,583.5 166.4,511.5 1282.4,509.5 1320.4,592.5 1762.4,590.5'/><polygon class='st0 error' data-link='/' data-floor='2' data-avail='0' points='1721.4,745.5 1303.4,744.5 1269.4,664.5 205.4,665.5 187.4,594.5 1275.4,595.5 1312.4,671.5 1740.4,673.5'/><polygon class='st0 success' data-link='/' data-avail='99' data-floor='1' points='1699.4,831.5 1294.4,828.5 1261.4,734.5 226.4,746.5 209.4,675.5 1266.4,676.5 1301.4,752.5 1719.4,754.5'/><polygon class='st0 success' data-link='/' data-avail='99' data-floor='1' points='1682.4,892.5 1286.4,891.5 1257.4,785.5 236.4,785.5 227.4,753.5 1259.4,741.5 1292.4,833.5 1698.4,836.5'/>"
            )
          rect(x="205" y="307" class="st0" width="96" height="51",
            data-build="Д",
            data-avail="99",
            data-type="Производственно -складское здание",
            data-reverse='1',
            data-class="path4",
            data-vin="images/video/D_12.mp4",
            data-vout="images/video/D_11.mp4",
            data-vimg="images/plans/D.jpg",
            data-square="10 230 м2",
            data-floor="3",
            data-offices="200",
            data-squares="от 10 м2 до 230 м2",
            data-free="200",
            data-busy="150",
            data-info="<li>Складской комплекс</li> <li>2 индивидуальных подъемника по 1 000 кг</li>",
            data-svg="<polygon class='st0 success' data-link='/' data-avail='99' data-floor='1' points='1838.1,623.9 57.9,623.9 40.6,569.3 1855.4,569.3'/><polygon class='st0 error' data-link='/' data-floor='2' data-avail='0' points='1818.1,694.5 81.9,697.1 64.6,642.5 1832.8,642.5'/>"
            )
          rect(x="306" y="271" class="st0" width="138" height="75",
            data-build="Е",
            data-avail="10",
            data-type="Складское здание",
            data-reverse='1',
            data-class="path5",
            data-vin="images/video/E_12.mp4",
            data-vout="images/video/E_11.mp4",
            data-vimg="images/plans/E.jpg",
            data-square="10 230 м2",
            data-floor="3",
            data-offices="200",
            data-squares="от 10 м2 до 230 м2",
            data-free="200",
            data-busy="150",
            data-info="<li>Складской комплекс</li> <li>2 индивидуальных подъемника по 1 000 кг</li>",
            data-svg="<polygon class='st0 success' data-link='/' data-avail='99' data-floor='1' points='1838.1,623.9 57.9,623.9 40.6,569.3 1855.4,569.3'/><polygon class='st0 error' data-floor='2' data-link='/' data-avail='0' points='1818.1,694.5 81.9,697.1 64.6,642.5 1832.8,642.5'/>"
            )
          rect(x="586" y="260" class="st0" width="119" height="56",
            data-build="Ж",
            data-avail="1",
            data-type="Офисно-складское здание",
            data-class="path6",
            data-vin="images/video/G_12.mp4",
            data-vout="images/video/G_11.mp4",
            data-vimg="images/plans/G.jpg",
            data-square="10 230 м2",
            data-floor="3",
            data-offices="200",
            data-squares="от 10 м2 до 230 м2",
            data-free="200",
            data-busy="150",
            data-info="<li>Складской комплекс</li> <li>2 индивидуальных подъемника по 1 000 кг</li>",
            data-svg="<polygon class='st0 success' data-avail='99'  data-link='/' data-floor='1' points='1790.9,609 122.9,609 107.9,529 1807.9,521'/><polygon class='st0 error' data-floor='2'  data-link='/' data-avail='0' points='1775.4,684.5 141.4,691.5 123.4,608.5 1790.9,608.5'/><polygon class='st0 error'  data-link='/' data-floor='2' data-avail='0' points='1761.4,756.5 158.4,768.5 142.4,691.5 1775.4,684.5'/>"
            )
          rect(x="774" y="150" class="st0" width="93" height="48",
            data-build="З",
            data-avail="22",
            data-type="Офисно-складское здание",
            data-class="path7",
            data-vin="images/video/Z_12.mp4",
            data-vout="images/video/Z_11.mp4",
            data-vimg="images/plans/Z.jpg",
            data-square="10 230 м2",
            data-floor="3",
            data-offices="200",
            data-squares="от 10 м2 до 230 м2",
            data-free="200",
            data-busy="150",
            data-info="<li>Складской комплекс</li> <li>2 индивидуальных подъемника по 1 000 кг</li>",
            data-svg="<polygon class='st0 success' data-avail='99'  data-link='/' data-floor='1' points='1571.4,392.5 522.4,685.5 510.4,586.5 1587.4,304.5'/><polygon class='st0 success'  data-link='/' data-floor='2' data-avail='111' points='1555.4,483.5 539.4,812.5 524.4,697.5 1569.4,399.5'/><polygon class='st0 success'  data-link='/' data-floor='2' data-avail='111' points='1534.4,598.5 559.4,940.5 539.4,812.5 1555.4,483.5'/>"
            )
          rect(x="1054" y="252" class="st0" width="90" height="73",
            data-build="М",
            data-avail="2",
            data-type="Производственно -складское здание",
            data-class="path8",
            data-vin="images/video/M_12.mp4",
            data-vout="images/video/M_11.mp4",
            data-vimg="images/plans/M.jpg",
            data-square="10 230 м2",
            data-floor="3",
            data-offices="200",
            data-squares="от 10 м2 до 230 м2",
            data-free="200",
            data-busy="150",
            data-info="<li>Складской комплекс</li> <li>2 индивидуальных подъемника по 1 000 кг</li>",
            data-svg="<polygon class='st0 success' data-avail='99'  data-link='/' data-floor='1' points='196.4,578.5 891.4,683.5 1009.4,540.5 1637.4,616.5 1657.4,485.5 1009.4,419.5 884.4,572.5 175.4,469.5'/><polygon class='st0 success'  data-link='/' data-floor='2' data-avail='111' points='220.4,723.5 897.4,841.5 1005.4,679.5 1611.4,768.5 1632.4,639.5 1006.4,564.5 896.4,707.5 199.4,601.5'/>"
            )
          rect(x="780" y="470" class="st0" width="132" height="70",
            data-build="П",
            data-avail="15",
            data-type="Производственное здание с офисными помещениями",
            data-class="path9",
            data-vin="images/video/P_12.mp4",
            data-vout="images/video/P_11.mp4",
            data-vimg="images/plans/P.jpg",
            data-square="10 230 м2",
            data-floor="3",
            data-offices="200",
            data-squares="от 10 м2 до 230 м2",
            data-free="200",
            data-busy="150",
            data-info="<li>Складской комплекс</li> <li>2 индивидуальных подъемника по 1 000 кг</li>",
            data-svg="<polygon class='st0 success' data-avail='99' data-link='/' data-floor='1' points='1396.4,494.5 516.4,543.5 502.4,439.5 1409.4,389.5'/><polygon class='st0 error' data-floor='2'  data-link='/' data-avail='0' points='1378.4,627.5 533.4,674.5 519.4,571.5 1392.4,521.5'/><polygon class='st0 success' data-avail='99' data-link='/' data-floor='1' points='1362.4,739.5 550.4,797.5 536.4,694.5 1376.4,643.5'/><polygon class='st0 error' data-floor='2'  data-link='/' data-avail='0' points='1348.4,849.5 566.4,909.5 552.4,812.5 1361.4,755.5'/>"
            )
          rect(x="1692" y="411" class="st0" width="182" height="128",
            data-build="У",
            data-avail="0",
            data-type="Производственно-складское здание с офисными помещениями",
            data-class="path10",
            data-vin="images/video/Y_12.mp4",
            data-vout="images/video/Y_11.mp4",
            data-vimg="images/plans/Y.jpg",
            data-square="10 230 м2",
            data-floor="3",
            data-offices="200",
            data-squares="от 10 м2 до 230 м2",
            data-free="200",
            data-busy="150",
            data-info="<li>Складской комплекс</li> <li>2 индивидуальных подъемника по 1 000 кг</li>",
            data-svg="<polygon class='st0 success' data-link='/' data-avail='99' data-floor='1' points='1816.4,628.5 1257.4,668.5 1145.4,532.5 95.4,603.5 84.4,548.5 1146.4,479.5 1261.4,607.5 1828.4,566.5'/><polygon class='st0 error' data-link='/' data-floor='2' data-avail='0' points='1802.4,711.5 1251.4,759.5 1143.4,614.5 113.4,687.5 102.4,631.5 1144.4,561.5 1256.4,693.5 1813.4,649.5'/>"
            )
        //- SVG with all info


    //- detailed information about objects
    .genplan-main__sub
      .genplan-main__item
        .genplan-main__infowindow
          .hidden-block
            h1.text--grey: span.genplan-build--js.text--uppercase
          .genplan-main__infowindow-in
            h1.text--grey Литер «#[span.genplan-build--js.text--uppercase]»
            ul.list--bullet.genplan-info--js
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey.genplan-square--js
              .card-info__item.is-col.is-col__xs-6
                span количество этажей
                .text--grey.genplan-floor--js
              .card-info__item.is-col.is-col__xs-6
                span офисов в корпусе
                .text--grey.genplan-offices--js
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey.genplan-squares--js
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success.genplan-free--js
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger.genplan-busy--js
          .is-row.is-row--null.flex-end.hidden__xs.hidden__sm.genplan-main__infowindow-footer
            .is-col.is-col__lg-8.is-col__md-7
              .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
            .is-col.is-col__lg-4.is-col__md-5
              button.btn.btn--primary.btn__lg.btn--full.text--center.genplan-less--js(href='#')
                i.is-icons.is-icons--prevw-arr
                span свернуть
          .genplan-notice.visible__sm.visible__xs Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
        .genplan-pop
          i.is-icons.is-icons--close-gen.genplan-less--js.visible__sm.visible__xs
          .genplan-pop__wrapper
        .genplan-main__info
        svg.sub-svg(version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" viewbox="0 0 1900 907" xml:space="preserve")
      .genplan-main__video
        video.b-video
          source(src="" type="video/mp4" class="b-video__mp4")
    //- detailed information about objects

    //- map
    .contacts-map
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMIwxPKB0U5RRTgWEElBHP1s6dkY4OJWM&callback=initMap", defer, async)
      #map
    //- map
