main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам
  .genplan.genplan-scheme
    .container
      .is-col__xl-11.centered-block
        .is-row.between__xs.middle__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-6.is-col__xs-12
            h1.text--grey Литер «П»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников.
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-5.is-col__md-5.is-col__xs-12
            .genplan-litera П
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="704" height="700" viewBox="0 0 704 700" xml:space="preserve")
                image(x="0" y="0" width="704" height="700"  preserveaspectratio="none" xlink:href="images/2D/P3.png")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="89,98.5 261,98.5 260,649.3 88,649.3 89,474.8 109,474.5 108.5,452 89,452.3 89,295.5 109,295.3 108.5,272.3 89,272.3")
                path(class="st0 success" data-num="100" data-link="/" data-avail="1" d="M276,530.3h84.3v120.7H276V530.3z")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="533.5,98.5 649.5,98.5 649.5,326.3 518,326.3 518,150.3 534.1,150")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="468.1,98.5 518,98.5 518,136.8 503.8,136.8 504.5,530.3 468.7,530.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="518,341.8 649.5,341.8 649.5,393.3 577.5,393.3 518,393.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="518,406.8 649.5,406.8 649.5,436.8 649.5,454.3 518,454.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="518,466.8 649.5,466.8 649.5,534.3 612.5,534.3 518,534.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="649.5,548.8 649.5,650.9 612.5,650.9 471,650.9 471,548.8 518,548.8")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="276,473.1 358.9,473.1 358.9,487.3 358.9,516.4 276,516.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="378.2,473.1 403.5,473.1 450.5,473.1 450.5,516.4 430.5,516.4 378.2,516.4")