main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «Б»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10 
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera Б
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="811" height="562" viewBox="0 0 811 562" xml:space="preserve")
                image(x="0" y="0" width="811" height="562"  preserveaspectratio="none" xlink:href="images/genplan3d.svg")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="257.5,342.2 188.5,375.3 154.2,302.3 220.7,272.2 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="299.3,237.8 268.8,251.3 248,216.3 278.7,202.8 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="324.8,226.3 299.3,237.8 278.7,202.8 304.2,191 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="349.3,214 324.8,226.3 304.2,191 327.3,180.5 ")
                polygon(class="st0 success" data-num="200" data-link="/" data-avail="1" points="324,310.3 257.5,342.2 229,287.5 293.7,256.5 ")
                polygon(class="st0 success" data-num="200" data-link="/" data-avail="1" points="388.3,278.2 324,310.3 293.7,256.5 357.5,226.8 ")
                polygon(class="st0 success" data-num="200" data-link="/" data-avail="1" points="442.8,252.5 388.3,278.2 357.5,226.8 409.5,202.5 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="387.3,196.8 349.3,214 327.3,180.5 365.2,164.2 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="387.3,196.8 414.2,184.3 391.5,151.8 365.2,164.2 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="487.5,151.3 460.7,162.8 436.8,130.2 462.5,119.5 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="510,140.7 487.5,151.3 462.5,119.5 485.3,109 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="530.8,130.5 510,140.7 485.3,109 506.5,100 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="556.3,119.3 530.8,130.5 506.5,100 531,89 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="502.7,222.3 442.8,252.5 409.5,202.5 469.2,174.5 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="553.5,198.7 502.7,222.3 469.2,174.5 518.3,151.8 ")
                polygon(class="st0 success" data-num="200" data-link="/" data-avail="1" points="610,170.3 553.5,198.7 518.3,151.8 574,125.7 ")
                polygon(class="st0 success" data-num="200" data-link="/" data-avail="1" points="657.3,147.3 610,170.3 574,125.7 620.7,104.3 ")
                polygon(class="st0 success" data-num="200" data-link="/" data-avail="1" points="711.8,120.8 657.3,147.3 620.7,104.3 674,79 ")
                polygon(class="st0 success" data-num="200" data-link="/" data-avail="1" points="438,173.2 414.2,184.3 391.5,151.8 414.7,140.8 ")
                polygon(class="st0 success" data-num="200" data-link="/" data-avail="1" points="460.7,162.8 438,173.2 414.7,140.8 436.8,130.2 ")
                polygon(class="st0 success" data-num="200" data-link="/" data-avail="1" points="577.8,109 556.3,119.3 531,89 552.2,78.7 ")
                polygon(class="st0 success" data-num="200" data-link="/" data-avail="1" points="599,98.3 577.8,109 552.2,78.7 573.7,69.3 ")