main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «В»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera В
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1240" height="872" viewBox="0 0 1240 872" xml:space="preserve")
                image(x="0" y="0" width="1240" height="872" preserveaspectratio="none" xlink:href="images/3D/korpV_3.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="314.3,672.7 195.5,427.2 241.7,407.4 239.2,402.6 289.4,380.4 410.5,605.8 400.3,610.9 409.4,627.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="515.3,575.8 421.4,620.3 391.1,564.7 484.2,521.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="339.8,273.6 241.3,314.9 265.4,361.5 305.8,344.1 335.1,396.8 394.9,370.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="390.3,337.8 898.9,118.1 1053.8,294.9 641.2,489.6 602.3,431.4 480.4,490.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="572.1,451.3 601.7,437 620.1,464.7 591,479.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="593.4,483.4 622.1,468.7 654,517.6 625,533")