main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам
  .genplan.genplan-scheme
    .container
      .is-col__xl-11.centered-block
        .is-row.between__xs.middle__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-6.is-col__xs-12
            h1.text--grey Литер «Д»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников.
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-6.is-col__md-5.is-col__xs-12
            .genplan-litera Д
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="930" height="271" viewBox="0 0 930 270.4" xml:space="preserve")
                image(x="0" y="0" width="930" height="271"  preserveaspectratio="none" xlink:href="images/2D/D1.png")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="78.6,42.4 263.3,42.4 264,232.7 145.6,232.7 145.6,166.4 78.6,166.1")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="274.4,101.3 274.3,42.4 307.5,42.4 323.7,42.4 323.7,101")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="334.1,42.4 516.4,42.3 517,231.9 398,231.5 397.9,166.7 334.1,166.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="530.9,42.3 584.5,42.2 584.5,233.2 530.9,233.2 530.9,132.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="593.2,42.2 751.2,41.6 751.1,72 779,71.8 779,105.6 824.5,105.7 824.5,169.4 694.7,169.5 694.2,116.6 660.4,116.5 660.3,105.5 593.2,105.5")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="593.2,114 651.5,114 652,233.3 593.2,233.2")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="660,124.1 685.5,124.1 685.5,173.1 711.5,173.1 711.5,233.3 660,233.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="760.5,42.1 786.5,42 902.3,41.8 902.3,173.4 833.1,173.7 833,227.3 783.8,227.3 783.8,173.3 829,173.3 829,102 783.8,102 783.8,67.1 760.5,66.9")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="274.3,110.1 274.3,231.9 324.3,231.6 324.3,215.1 346,215 346,177.4 323.3,177.6 323.3,110.1")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="720.2,173.1 774.5,173.1 774.5,192.4 742.6,192.4 743,233.3 720.2,233.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="751.9,201.3 766.9,201.3 774.5,201.3 774.5,233.5 751.9,233.5")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="348.3,177.4 386.5,177.4 386.5,231.9 327.1,231.9 327.1,217.1 348.5,216.9")