main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам
  .genplan.genplan-scheme
    .container
      .is-col__xl-11.centered-block
        .is-row.between__xs.middle__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-6.is-col__xs-12
            h1.text--grey Литер «Ж»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников.
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-6.is-col__md-5.is-col__xs-12
            .genplan-litera Ж
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="967" height="400" viewBox="0 0 967.1 400.2" xml:space="preserve")
                image(x="0" y="0" width="967" height="400"  preserveaspectratio="none" xlink:href="images/2D/G1.png")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="75.5,59.5 121.7,59.4 194.9,59.2 195,204.2 75.5,204.2")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="75.5,219.6 132.2,219.6 195,219.6 195,313 75.5,313")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="205.7,59.2 366.7,59.2 366.7,204.2 262.4,204.2 263.2,313 205.7,313")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="275.7,217.2 327.5,217.2 379.2,217.2 379.2,313 275.7,313")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="382.5,59.2 422.7,59.2 422.7,162.7 405.2,162.7 382.5,162.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="501.7,59.2 560.7,59.2 604.4,59.2 604.2,313 501.7,313")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="618.7,59.2 761.7,59.2 761.7,313 618.7,313 618.7,258")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="390.9,327 417.2,327 426.9,327 426.9,332.8 426.9,352.5 390.9,352.5")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="779,59.2 862.7,59.2 900.7,59.2 900.7,140.5 779,140.5")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="779,156.7 820.7,156.8 900.7,157 900.7,212 779,212")