main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «З»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera З
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1323" height="1011" viewBox="0 0 1323.7 1011.4" xml:space="preserve")
                image(x="0" y="0" width="1323" height="1011" preserveaspectratio="none" xlink:href="images/3D/korpZ_3.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="476.9,475.1 391.1,516.8 289.1,355.3 371.9,318.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="564,360.5 483.6,399.5 522.8,452.6 479.9,473.4 375.2,316.9 494.7,263.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="521.1,699.1 435.9,744.2 362.6,619.6 444.7,577.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="641.8,636.5 524.8,697.5 436.5,556.9 548.3,501.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="731.5,589.3 645.8,634.7 552.8,499.2 636.6,457.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="645.2,453.6 740.8,584.6 832.7,536.8 733.9,410")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="915,493.6 835.8,535.4 737.1,408.2 814.8,369.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="1006,448.1 920.9,491.5 819.8,367 901.6,326.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="911.6,324.1 1013.4,443.8 1136.1,381.6 1031.4,265.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="502.7,260.1 613.4,410.6 741.8,347.2 626.3,204.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="631.1,202.4 746.9,344.9 868.6,285.8 750.9,149.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="993.5,226.5 876.8,283.3 758.6,145.6 874.6,93.9")