main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам
  .genplan.genplan-scheme
    .container
      .is-col__xl-11.centered-block
        .is-row.between__xs.middle__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-6.is-col__xs-12
            h1.text--grey Литер «Е»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников.
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-6.is-col__md-5.is-col__xs-12
            .genplan-litera Е
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="664" height="467" viewBox="0 0 664 466.9" xml:space="preserve")
                image(x="0" y="0" width="664" height="467"  preserveaspectratio="none" xlink:href="images/2D/E1.png")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="49.5,46.6 164.7,46.4 226.5,46.2 226.5,417.3 49.5,417.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="423.3,46.2 472.7,46.2 504.8,46.2 504.8,132.1 423.3,132.1")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="516.7,238.8 536.7,238.8 613.8,238.8 613.8,314.3 516.7,314.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="566.3,327.6 613.8,327.6 613.8,417.1 566.3,417.1 566.3,347.2")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="238.5,237.5 313.3,238 413.5,238.8 413.3,417.1 238.5,417.1")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="422.2,238.8 471.3,238.8 504.8,238.8 504.8,417.1 422.2,417.1")