main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «З»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera З
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1244" height="879" viewBox="0 0 1244.3 878.8" xml:space="preserve")
                image(x="0" y="0" width="1244" height="879" preserveaspectratio="none" xlink:href="images/3D/korpZ_1.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="293.3,514.3 341,594.5 401.2,562.6 353.1,484.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="460.1,658.1 398.9,691.3 343.6,600.7 404.3,568.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="600.6,582.5 465.5,655.8 359.5,481.7 489.4,416.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="258,320.5 314.9,412.4 382.8,378.9 397.4,401.2 526.6,337.9 451,229.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="522.9,455.6 606.9,579.5 672.4,543.9 586.4,421.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="459.9,226.1 690,118.1 928.5,409.4 677.6,540.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="695.6,115.5 934,405 1049.3,345.6 803.5,62.6")