main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам
  .genplan.genplan-scheme
    .container
      .is-col__xl-11.centered-block
        .is-row.between__xs.middle__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-6.is-col__xs-12
            h1.text--grey Литер «Ж»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников.
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-6.is-col__md-5.is-col__xs-12
            .genplan-litera Ж
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="967" height="364" viewBox="0 0 967.1 364.2" xml:space="preserve")
                image(x="0" y="0" width="967" height="364"  preserveaspectratio="none" xlink:href="images/2D/G2.png")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="75.5,31.1 112,31.1 137.2,31.1 137.2,159.6 75.5,159.6")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="147.2,31.1 215.6,31.1 215.5,70.4 215.3,130.9 147.2,130.9")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="226,31.1 243,31.1 288,31.1 288,159.6 226,159.6 226,103.2")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="299,31.1 306.7,31.1 349,31.1 349,159.6 299,159.6 299,95.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="361.3,31.1 372.8,31.1 414.3,31.1 414.3,159.6 361.3,159.6 361.3,135.9")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="428.7,31.1 443.3,31.1 490,31.1 490,113.2 439.3,113.2 439.3,159.6 428.7,159.6")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="75.5,216.9 130.7,216.9 219.3,216.9 219.3,333.4 75.5,333.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="230.3,216.9 239.3,216.9 302.3,216.9 302.3,333.4 230.3,333.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="315.3,216.9 349,216.9 428.7,216.9 428.7,333.4 315.3,333.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="440.3,216.9 451.7,216.9 492.3,216.9 492.3,333.4 440.3,333.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="503.8,216.9 537.3,216.9 564.8,216.9 564.8,333.4 503.8,333.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="575.3,216.9 605.1,216.9 634.8,216.9 634.8,333.4 575.3,333.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="647.8,216.9 688.7,216.9 719.3,216.9 719.3,333.4 647.8,333.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="731.3,216.9 739,216.9 788.3,216.9 788.3,333.4 731.3,333.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="579.3,31.1 587.6,31.1 617.8,31.1 678.3,31.1 680.8,31.1 680.8,159.6 647.8,159.6 647.8,118.9 579.3,118.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="691.8,30.8 742.6,30.8 786.2,30.8 786.2,159.6 691.8,159.6")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="797.2,30.7 808.3,30.7 891,30.7 891,67.9 891.1,113.2 824.5,113.2 824.3,159.6 797.2,159.6")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="835.5,124 891.7,124 892.3,205.9 880.2,205.9 835.5,161.1")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="801.3,285.4 829.3,285.4 857.3,285.4 857.3,333.4 801.3,333.4")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="868.1,314.9 868.1,333.4 892.3,333.4 892.3,314.9 880.2,314.9")