main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «Б»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10 
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera Б
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1317" height="829" viewBox="0 0 1317.1 829.1" xml:space="preserve")
                image(x="0" y="0" width="1317" height="829" preserveaspectratio="none" xlink:href="images/3D/korp_b_office_1.png")
                path(class="st0 error" data-num="200" data-link="/" data-avail="0" d="M972.6,433.4c1,1.8,58.3,72.9,58.3,72.9l-157.9,92.2L765.1,445.1l49.4-25.8l53.1,72.9L972.6,433.4z")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="819.1,417.1 917.2,364.2 968.8,429.1 869.6,485.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="748.8,366.7 870.2,304.4 915.2,360.1 791.5,426")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="832.5,255.4 866.7,301.3 746.2,363 711.5,315.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="580.2,267.4 699.5,212.1 741.6,269.4 620.6,328.8")