main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «В»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera В
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1240" height="872" viewBox="0 0 1240 872" xml:space="preserve")
                image(x="0" y="0" width="1240" height="872" preserveaspectratio="none" xlink:href="images/3D/korpV_2.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="198.6,438.8 318.1,685 413.4,639.6 405.6,625.8 408.3,624.3 403.1,615.1 408.7,612 294,398.4 289.9,400.3 286.8,394.5 241.3,414.7 243.3,418.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="516.9,589.7 423.7,634.3 392.6,577.7 483.8,534")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="315.3,352.2 268.5,374.3 248.6,337.8 255.2,334.6 251.7,328.4 259.1,325.1 257.2,321.7 290.5,307.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="335.5,409 397.6,381.9 341.7,285.6 292.2,306.5 318.1,353.1 308,357.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="391.5,349.1 897.2,128.2 1052.8,307.1 646.4,502.9 605.8,442.1 480.8,501.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="573.3,463.4 602.3,449.1 621,477.5 592.4,492.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="594,496.3 622.6,481.3 655.5,530.6 625.7,545.7")