main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «Б»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera Б
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1198" height="840" viewBox="0 0 1198.2 840" xml:space="preserve")
                image(x="0" y="0" width="1198" height="840" preserveaspectratio="none" xlink:href="images/3D/korp_b_sklad_2.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="200.5,519.7 268.9,655.8 392.6,589.9 309,446.6 216.3,490.2 225.5,507.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="369.8,417 477.4,365.6 524.2,427 574.4,401.2 625.3,468 458.2,556.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="566.2,383.5 629.1,465.6 782.6,386.6 694.3,285.1 649.4,307.7 634.9,289.8 580.2,316.6 615.1,359.9 594,371 586.8,362.1 573.2,369.1 579.2,376.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="776.8,222.2 807.1,254.3 870.8,221.7 951.3,303.8 936.4,312.3 932.9,308.7 785.5,385 683.1,267.4")