main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «А»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera А
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1173" height="734" viewBox="0 0 1173 734.1" xml:space="preserve")
                image(x="0" y="0" width="1173" height="734" preserveaspectratio="none" xlink:href="images/3D/korpA_3.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="331.9,395.5 269.6,423.6 241.8,369.1 302.2,342.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="444.1,346.7 399.2,367.7 370.6,315 413.4,295.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="481.2,329.3 445.4,346 414.8,295.3 449.7,279.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="515.8,313 483.1,328.6 451.6,278.7 484.1,263.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="610.8,268.9 573.2,286.9 541,239.2 578.6,222.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="645.2,252.6 612.8,267.9 580.5,221.5 613.3,206.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="677.7,237.6 647.3,251.6 615.2,205.9 644.8,192.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="779.9,190.5 751.2,203.7 717.7,159.6 747.2,146.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="816.9,173.6 782.4,189.6 749.2,145.7 781.9,131.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="848.7,158.8 818.9,172.8 784.5,130.2 813.6,117")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="879.9,143.9 851,157.5 816.2,115.9 845.3,102.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="973.4,100.6 955.1,109.2 919.8,70.4 937.9,62.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="342.5,417.9 412.2,385.8 425.7,409.3 356.2,442.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="136.7,479.4 186.1,593.6 320.8,528.4 240,369.7 148.1,409.4 171.8,462.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="281.6,446.6 338.7,419.5 381.8,498.7 322.7,527.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="974.6,102.1 989.6,117 434.2,374.2 457.1,413.9 437,423.8 412.7,381.2 280.1,443.8 271,426.1 336.1,396.8 334.3,393.5 393.7,366.4 396.2,371.1 935.8,120.2 899.4,80.4 917.9,71.6 954.3,111.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="435.2,426.8 456,462.5 478.7,451.2 457.9,415.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="438.3,375.4 498.1,347.1 512.8,371.6 488.1,384.5 516.9,432.6 480.9,450.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="517.1,372.2 491.9,385.1 519.6,431.5 573.9,405.3 527.8,333.6 501.7,345.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="576.9,404.3 615.9,385.4 584.8,339 579.5,341.7 563.5,317.4 531.8,332.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="580.2,338.7 585.5,336 618,384.8 653.4,367.7 605.3,297.7 565.1,316.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="655.8,366.7 608,296.8 665,269.8 681.6,293.4 658.2,305.1 689.5,350")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="967,215.2 913.9,155 990.8,118.2 1045.6,177.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="715.4,337.2 667.3,268.6 691.6,257.1 741.4,324.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="743.7,323.2 694.2,256.1 725.2,241.9 743.3,265.8 761.8,256.1 794.6,298.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="679.7,236.8 646.6,191.5 682.8,175.6 710.9,213.9 703.9,217 708.7,223.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="713.9,214.6 684.3,174.8 715.9,160.5 749,204.5 711.5,222 708,217.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="745,262.2 728.4,240.6 763.6,223.9 814.7,288.7 796.9,297.5 762.1,253.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="896.5,191.3 879.1,170.8 911.7,155.5 964.8,216.1 936.3,230.2 900.6,189.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="817.5,287.6 765.9,222.7 818.4,198.2 836.1,219.7 813.3,230.9 847,273.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="839.8,220.5 820.9,197.2 844.7,186.1 897,248.7 850.2,271.6 818,231.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="899.6,247.9 848.3,185 877,171.4 895.9,194 900.2,192.1 934.3,231")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="356.5,446.1 394,428.3 423.2,478.7 384.8,497.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="395.8,427.1 425,413.3 453.9,463.5 425.3,477.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="660.9,305.8 682.4,295 713,338.1 691.3,349")