main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам
  .genplan.genplan-scheme
    .container
      .is-col__xl-11.centered-block
        .is-row.between__xs.middle__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-6.is-col__xs-12
            h1.text--grey Литер «П»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников.
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-6.is-col__md-5.is-col__xs-12
            .genplan-litera П
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1000" height="680" viewBox="0 0 1000 680" xml:space="preserve")
                image(x="0" y="0" width="1000" height="680"  preserveaspectratio="none" xlink:href="images/2D/P2.png")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="405.1,87.3 456,87.3 456,126 440,126 439.8,523.7 405.1,523.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="470.8,87.3 585.3,87.3 585.3,288.7 495.3,288.7 495.3,254.3 456,254.7 456,137.7 471.4,137.5")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="452.8,268.7 483.6,268.7 483.6,300.7 585.3,300.7 585.3,382.7 452.8,382.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="452.8,394.7 540.3,394.7 585.3,394.7 585.3,443.7 452.8,443.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="452.8,455.4 482.8,455.4 482.8,461.3 585.3,461.3 585.3,523.7 452.8,523.7")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="405.1,535.9 547.3,536 585.3,536 585.3,641.3 405.1,641.2")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="212.8,634.7 212.8,464.7 254.4,464.7 296,464.7 296,575.7 296,634.7")