main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам
  .genplan.genplan-scheme
    .container
      .is-col__xl-11.centered-block
        .is-row.between__xs.middle__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-6.is-col__xs-12
            h1.text--grey Литер «У»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников.
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-6.is-col__md-5.is-col__xs-12
            .genplan-litera У
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="968" height="524" viewBox="0 0 968 524" xml:space="preserve")
                image(x="0" y="0" width="968" height="524"  preserveaspectratio="none" xlink:href="images/2D/U2.png")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="83.2,221.2 223.7,221.2 269.7,221.2 269.7,485.9 83.2,485.9")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="48.2,221.2 59.7,221.2 67.2,221.2 67.2,301.4 48.2,301.4 48.2,279.2")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="89.1,206.3 123,206.3 122.9,177.2 122.7,128.3 89.1,128.6")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="133.2,128.3 172.2,128.3 172.2,206.3 133.2,206.3 133.2,174.2 133.3,163.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="183.2,206.3 242.7,206.3 242.7,128.3 216.5,128.3 183.2,128.3")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="356.5,85.2 356.5,93.9 356.5,114.4 356.5,137.4 356.5,180.9 278.2,180.9 278.2,85.2")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="356.5,36.9 356.5,73.2 278.2,73.2 278.2,36.9 313.2,36.9")
                polygon(class="st0 success" data-num="100" data-link="/" data-avail="1" points="186.2,36.9 264.5,36.9 264.5,99.6 186.2,99.6 186.2,52.4")