main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «Б»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera Б
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1198" height="840" viewBox="0 0 1198.2 840" xml:space="preserve")
                image(x="0" y="0" width="1198" height="840" preserveaspectratio="none" xlink:href="images/3D/korp_b_sklad_3.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="183.5,490 209.8,477.2 200.9,460.1 472.1,332.7 567.3,466.4 254.7,630.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="580.1,281.3 783.1,185.1 815.3,218.3 881.7,185.7 966,269.3 949.9,278.1 945,272.9 628.9,436.8 556.4,341.9 608.9,315.6")