main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «В»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera В
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1240" height="872" viewBox="0 0 1240 872" xml:space="preserve")
                image(x="0" y="0" width="1240" height="872" preserveaspectratio="none" xlink:href="images/3D/korpV_5.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="246,302.7 252.4,300 249.7,295.5 256.8,292.5 254.1,288.4 339.8,253.8 394,346.1 333.5,372.3 304.9,322.1 264.7,338.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="193.8,420.1 210.1,453.2 217,449.9 220.7,456.9 318.6,413.2 290.9,361.2 285.3,363.9 282.6,359.6 237.7,378.9 240.1,384.1 194.9,403.1 201.6,416.4")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="221.9,459.9 249.8,515.9 349.9,470.1 329,431.8 323.4,434 320.1,427.8 325.8,425.2 320.3,415.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="250.8,518.1 284.7,584.4 387.2,536.9 369.8,505.7 364.6,508.4 361.4,502.4 366.8,499.7 350.6,472.1")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="286.4,587.6 314.4,644.3 409.4,599.4 401,585 410.3,580.7 387.4,539.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="388.9,539.1 420,594.3 513.7,549.5 482.5,495.3")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="389.3,315 899.1,101.8 1056.2,276.3 646.9,465.2 607.1,405.6 478.4,464")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="571.6,426.5 602.3,412.5 620.8,440.6 591,455.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="592.9,459.1 623.1,444 655.2,492.3 625.5,507.2")