main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «В»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera В
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1240" height="872" viewBox="0 0 1240 872" xml:space="preserve")
                image(x="0" y="0" width="1240" height="872" preserveaspectratio="none" xlink:href="images/3D/korpV_1.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="463,518.5 514.9,609.2 423,654 372.1,562.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="287.8,420 292,418.3 307.8,447.9 212.7,491.3 196.9,459.4 243.3,437.8 240.7,433.1 284.6,413.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="337.8,502.1 241.1,547.2 213.6,493.3 308.6,449.7")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="366.7,557 269.1,603.8 242.1,549.3 338,504.5")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="334.7,647.7 299.5,665 270.4,606 367.6,558.8 392,602.9 328.1,634.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="401.5,638.2 413.2,659 319.7,705.3 300.5,667.3 337.7,648.8 331.1,635.6 392.9,605 409.4,634.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="364.5,348.7 263.2,393.7 243.1,357.1 258,350.2 252.6,340.3 338.1,302.8")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="389.2,367.8 893.6,143.6 1050,327.2 646.1,522.2 603.9,460.4 478.6,520.2")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="591.5,515.9 621,501.5 653.4,549.8 623,565.4")