main.page-main
  .shop-links.text--uppercase
    a.shop-links__item.active(href='#')
      i.is-icons.is-icons--genplan
      span генплан
    a.shop-links__item(href='#')
      i.is-icons.is-icons--choice
      span Выбор по параметрам 
  .genplan.genplan-scheme.genplan-3d
    .container
      .is-col__xl-11.centered-block
        .is-row.between__lg.center__xs.start__xs
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-8.is-col__xs-12
            h1.text--grey Литер «А»
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__xs-6
                span этаж
                .text--grey 1-й этаж
              .card-info__item.is-col.is-col__xs-6
                span общая площадь
                .text--grey 10 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span всего офисов
                .text--grey 200 
              .card-info__item.is-col.is-col__xs-6
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
              .card-info__item.is-col.is-col__xs-6
                span свободно
                .text--success 200 
              .card-info__item.is-col.is-col__xs-6
                span занято
                .text--danger 150
            .relative.popup-gallery
              .slider-arrow.slider-arrow-plan
              .slider-plan.is-col__md-10
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-1.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-2.jpg", alt="alt")
                a(href='images/big.jpg', title="Организация бизнес-ланчей"): img(src="images/card-main-3.jpg", alt="alt")
            .genplan-txt
              p.text--grey В офисном здании расположены: «Кафе на Цветочной», минимаркет, магазин финских товаров, все это позволит решить проблемы с питанием ваших сотрудников. 
            .genplan-notice Наведите курсор на фасад здания, чтобы узнать о свободных помещениях
          section.is-col.is-col__xl-7.is-col__lg-7.is-col__xs-12
            .genplan-litera А
            .genplan-pop
              .genplan-pop__wrapper
            .genplan-code.genplan-code--3d
              //- svg here
              svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1173" height="734" viewBox="0 0 1173 734.1" xml:space="preserve")
                image(x="0" y="0" width="1173" height="734" preserveaspectratio="none" xlink:href="images/3D/korpA_4.png")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="238.3,551.6 227.3,529.1 162.6,560.6 172.5,583.3 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="211.5,533.6 199.9,508.9 150.5,532.3 161.4,558 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="199,506.9 185.5,477.5 136.6,500.6 149.5,530.5 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="185,475.8 173,449.4 124.5,472.4 135.9,499.1 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="370,488.6 330.1,411.2 270.3,438.9 309.3,517.5 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="445.6,453.4 402.6,378 332.4,410.1 373.3,487.8 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="506.3,423.9 461.7,350.6 405,377.1 447.7,452 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="447.3,327.8 418.1,279.6 358.8,305.9 388.1,354.6 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="565,396.1 517.6,324.5 463.7,349.6 508.7,423.3 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="140.8,415.9 156.2,408.8 213.7,532.7 226,526.7 184.6,439.4 188.9,437.3 166.7,391 135.9,405 		")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="226.9,433.8 200.4,445.8 194.9,434.9 192.1,436.2 169.9,389.4 199,376.2 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="241,550.7 306.5,519 268,440 210.7,466.2 224.5,494.5 215.9,498.9 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="311.1,373.2 269.4,391.3 280.5,411 192.5,451.5 200.4,467.4 333.8,406.6 323.4,387.7 320.1,389.1 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="228.9,432.5 255.4,420.3 249.9,409.1 253.9,407.4 230.4,362.8 201.7,375.1 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="266.1,415.4 276.3,410.6 265.2,390.5 309.5,371 290.1,336.3 233.9,361.5 257.5,405.9 260.7,404.6")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="325.3,387 505.1,304.7 507,307.6 513.5,304.6 510,299.4 587.3,262.6 592.3,269.2 601.5,264.5 596.7,257.9 947.3,99.5 971.9,125.3 550.6,321.6 542.8,310.8 335.3,405.9 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="420.2,278.5 453.3,264.2 464.2,281.5 459.7,283.5 463.1,289 460.9,290.1 476.3,314.3 449.2,326.9")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="478.8,312.7 504.2,301 474.4,255 455.7,263.3 466.5,280.1 469.5,278.7 475,286.9 465.2,291.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="523.7,267.8 495.4,281.1 477.6,253.7 505.8,240.9 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="534.6,284.4 507,297.4 497.2,283 524.6,269.9 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="559,272.9 537.5,283.2 527.2,268.8 548.9,258.6 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="508,240 526,266.7 547.7,256.4 530,230.1 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="532.4,229 583.2,206.4 613.2,247.8 593.6,256.5 598.8,263.7 592.9,266.7 587.3,259.3 561.2,271.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="586.2,205.8 637,183.1 667.1,223.4 615.6,246.5 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="639,182.3 688.1,160.7 718.5,200 669.4,222.4 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="690.3,159.6 738.1,138.4 769.4,176.9 720.8,198.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="741.7,137.2 788,116.8 820,154.1 772.4,175.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="527,334.7 583,308.6 623,367.5 566.6,395.2 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="585.1,307.8 637.5,283.3 678.4,341.2 625.5,366.5 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="639.3,282.4 679.9,340.4 734.4,314.4 691.1,258.1 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="693.5,257.4 736.3,313.5 787.9,289 744.1,233.6 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="746.6,232.8 789.8,288.2 840.4,263.6 796.5,210.1 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="798.6,208.9 842.6,262.4 891.2,239.3 847.1,186.9 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="849.4,185.9 892.8,238.7 940.7,215.6 897.3,163.3 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="899.3,162.1 943,215.2 989.9,192.3 944.3,141 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="947.6,140.1 992.8,190.9 1040,168.3 992.8,118.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="791.2,115.4 823,153 871.1,131.4 837.3,94.7 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="889.9,70.6 911.6,60.8 945.3,97.7 922.5,107.9 ")
                polygon(class="st0 error" data-num="200" data-link="/" data-avail="0" points="974.8,123.8 989.9,116.6 930,52.7 914.3,59.5 ")