main.page-main
  section.main-index
    .slideshow-wheel
      div: i.is-icons.is-icons--mouse
      .mt20: i.is-icons.is-icons--down-arr
    .shop
      .slideshow-item(style='background: url("images/main-back.jpg") no-repeat center center / cover')
        .flex-center
          .container
            .shop-subtitle Бизнес парк
            .shop-title на Цветочной, 18
            .slideshow
              - for (var x = 1; x < 5; x++)
                div
                  .shop-list(data-animation-in="slideInUp")
                    .shop-list__item Бизнес-центр класса В
                    .shop-list__item Производственные и складские помещения
                    .shop-list__item Cовременный офисно-складской комплекс класса В+
                  .shop-desc(data-animation-in="fadeIn" data-delay-in="1")
                    .shop-desc__item
                      p: i.is-icons.is-icons--area
                      div Площади
                      b от 80м#[sup 2] до 3 000м#[sup 2]
                    .shop-desc__item
                      p: i.is-icons.is-icons--dollar
                      div Цены
                      b от 1 700р/м#[sup 2] до 3 000р/м#[sup 2]
        .abs-end
          .container.hidden__xs.hidden__sm
            .socials
              .socials__item: a(href='#'): i.icon-f
              .socials__item: a(href='#'): i.icon-insta
              .socials__item: a(href='#'): i.icon-vk
          .shop-links
            a.shop-links__item(href='#')
              i.is-icons.is-icons--genplan
              span генплан
            a.shop-links__item(href='#')
              i.is-icons.is-icons--choice
              span Выбор по параметрам 
