main.page-main
  include ../components/_breadcrumbs
  .infra.uikit
    .container
      .is-col__lg-11.centered-block
        .is-row
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-4.is-col__xs-12.hidden__sm.hidden__xs
            h1.text--grey О Бизнес Парке
            ul.aside-menu
              li.aside-menu__item
                a(href='#') О Компании
              li.aside-menu__item
                a(href='news.html') Новости
              li.aside-menu__item
                a.active(href='infrastructure.html') Инфраструктура
              li.aside-menu__item
                a(href='gallery.html') Медиатека
              li.aside-menu__item
                a(href='lease.html') Арендаторы
              li.aside-menu__item
                a(href='services.html') Услуги
              li.aside-menu__item
                a(href='advert.html') Размещение рекламы
          section.is-col.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12
            h2= title
            p: img(src='images/news-img.jpg', alt='')
            h6 В офисном здании расположены:
            .is-row
              .is-col.is-col__md-6
                ul.list--bullet
                  li «Кафе на Цветочной»
                  li Минимаркет
                  li Магазин финских товаров
                  li Услуги дизайнерских фирм
              .is-col.is-col__md-6
                ul.list--bullet
                  li Офис оперативной полиграфии
                  li Прачечная
                  li Платежным терминал
                  li Услуги курьерских фирм
            h6 Профессиональные управляющие компании осуществляют комплексное обслуживание бизнес парка:
            p Обеспечивают арендаторов всем необходимым, следят за комфортом иорганизуют  все инфраструктурные процессы. Бизнес парк «На Цветочной, 18» гарантирует вам множество приятных удобств, предусмотренных для наших арендаторов
            h2 Кафе на Цветочной
            p: img(src='images/infrastructure.jpg', alt='')
            p Ассортимент домашней выпечки собственного производства, а также: бизнес-ланчи, обеды на вынос, полуфабрикаты (по предварительному заказу), выбор напитков, чая и кофеКафе на Цветочной рады предоставить в распоряжение арендаторов отдельный уютный зал для проведения кофе-брейк, деловых обедов.
            p Кроме того, в Кафе на Цветочной Вам помогу организовать проведение банкетов, праздников, корпоративных мероприятий и разработать меню по Вашему вкусу. Кафе на Цветочной заключает договоры с арендаторами на организацию питания сотрудников по безналичному расчету.
            include ../components/_gallery
            h2 Парковка
            p: img(src='images/infrastructure-1.jpg', alt='')
            p Для арендаторов предлагается 2 территории для парковки: гостевая бесплатная (внешняя) и парковка на территории (внутренняя) – платная. Обе парковки охраняемые. Внешняя парковка 2500 кв.м., одна организация может занимать неограниченное количество парковочных мест.
            p Парковочные места на внутренней парковке предоставляются по стоимости 3000 руб. в месяц, закрепляется пронумерованное парковочное место и выдаётся пропуск. Доступ на территорию 24 часа. Места на платной парковке предоставляются на основании Договора аренды парковочного места.
            h3 Фотогалерея
            .is-row.is-row--sm.popup-gallery.gallery
              .is-col.is-col__md-4.is-col__xs-6: a(href='images/big.jpg', title="Организация бизнес-ланчей")
                .div.gallery-txt Организация #[br] бизнес-ланчей
                img(src='images/gallery-7.jpg', alt='')
              .is-col.is-col__md-4.is-col__xs-6: a(href='images/big.jpg', title="Организация бизнес-ланчей")
                .div.gallery-txt Организация #[br]  бизнес-ланчей
                img(src='images/gallery-8.jpg', alt='')
              .is-col.is-col__md-4.is-col__xs-6: a(href='images/big.jpg', title="Организация бизнес-ланчей")
                .div.gallery-txt Организация #[br] бизнес-ланчей
                img(src='images/gallery-9.jpg', alt='')
