main.page-main
  include ../components/_breadcrumbs
  .lease.uikit
    .container
      .is-col__lg-11.centered-block
        .is-row
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-4.is-col__xs-12.hidden__sm.hidden__xs
            h1.text--grey О Бизнес Парке
            ul.aside-menu
              li.aside-menu__item
                a(href='#') О Компании
              li.aside-menu__item
                a(href='news.html') Новости
              li.aside-menu__item
                a(href='infrastructure.html') Инфраструктура
              li.aside-menu__item
                a(href='gallery.html') Медиатека
              li.aside-menu__item
                a.active(href='lease.html') Арендаторы
              li.aside-menu__item
                a(href='services.html') Услуги
              li.aside-menu__item
                a(href='advert.html') Размещение рекламы
          section.is-col.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12
            h2= title
            .is-row
              - for (var x = 1; x < 10; x++)
                .lease__item.is-col.is-col__lg-3.is-col__md-4.is-col__xs-6 
                  .lease__item-img
                    img(src='images/lease-img_0'+x+'.png', alt='')
                    .lease__item-txt зоомагазин «1000 друзей»
              - for (var x = 10; x < 21; x++)
                .lease__item.is-col.is-col__lg-3.is-col__md-4.is-col__xs-6 
                  .lease__item-img
                    img(src='images/lease-img_'+x+'.png', alt='')
                    .lease__item-txt зоомагазин «1000 друзей»
                  
              
            
