main.page-main
  include ../components/_breadcrumbs
  .news
    .container
      .is-col__lg-11.centered-block
        .is-row
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-4.is-col__xs-12.hidden__sm.hidden__xs
            h1.text--grey О Бизнес Парке
            ul.aside-menu
              li.aside-menu__item
                a(href='#') О Компании
              li.aside-menu__item
                a.active(href='news.html') Новости
              li.aside-menu__item
                a(href='infrastructure.html') Инфраструктура
              li.aside-menu__item
                a(href='gallery.html') Медиатека
              li.aside-menu__item
                a(href='lease.html') Арендаторы
              li.aside-menu__item
                a(href='services.html') Услуги
              li.aside-menu__item
                a(href='advert.html') Размещение рекламы
          section.is-col.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12
            h2= title
            a.search-results__item.is-row.stretch__xs(href='one-news.html')
              .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
                .relative
                  i.is-icons.is-icons--news-arr
                  img(src='images/search.jpg', alt='')
              .search-results__item-desc.is-col.is-col__lg-6.is-col__xs-8
                b.flex-top.text--uppercase Мы обладаем достаточными мощностями и всеми необходимыми ресурсами
                .flex-end.text--grey
                  i.icon-clock
                  span.text__sm 16 марта 2017, 11:07
            a.search-results__item.is-row.stretch__xs(href='one-news.html')
              .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
                .relative
                  i.is-icons.is-icons--news-arr
                  img(src='images/search.jpg', alt='')
              .search-results__item-desc.is-col.is-col__lg-6.is-col__xs-8
                b.flex-top.text--uppercase Бизнес Парк имеет превосходную транспортную доступность
                .flex-end.text--grey
                  i.icon-clock
                  span.text__sm 23 февраля 2017, 07:49
            a.search-results__item.is-row.stretch__xs(href='one-news.html')
              .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
                .relative
                  i.is-icons.is-icons--news-arr
                  img(src='images/search.jpg', alt='')
              .search-results__item-desc.is-col.is-col__lg-6.is-col__xs-8
                b.flex-top.text--uppercase Основным направлением в развитии Бизнес парка «На Цветочной, 18» является...
                .flex-end.text--grey
                  i.icon-clock
                  span.text__sm 12 февраля 2017, 19:07
            a.search-results__item.is-row.stretch__xs(href='one-news.html')
              .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
                .relative
                  i.is-icons.is-icons--news-arr
                  img(src='images/search.jpg', alt='')
              .search-results__item-desc.is-col.is-col__lg-6.is-col__xs-8
                b.flex-top.text--uppercase Профессиональные управляющие компании осуществляют комплексное обслуживание...
                .flex-end.text--grey
                  i.icon-clock
                  span.text__sm 23 февраля 2017, 07:49
            a.search-results__item.is-row.stretch__xs(href='one-news.html')
              .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
                .relative
                  i.is-icons.is-icons--news-arr
                  img(src='images/search.jpg', alt='')
              .search-results__item-desc.is-col.is-col__lg-6.is-col__xs-8
                b.flex-top.text--uppercase Основным направлением в развитии Бизнес парка «На Цветочной, 18» является...
                .flex-end.text--grey
                  i.icon-clock
                  span.text__sm 17 января 2017, 10:25
            .text--center
              button.btn.btn__lg.btn--primary.show--js.gallery-btn загрузить еще 33
            .hide 
              a.search-results__item.is-row.stretch__xs(href='one-news.html')
                .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
                  .relative
                    i.is-icons.is-icons--news-arr
                    img(src='images/search.jpg', alt='')
                .search-results__item-desc.is-col.is-col__lg-6.is-col__xs-8
                  b.flex-top.text--uppercase Мы обладаем достаточными мощностями и всеми необходимыми ресурсами
                  .flex-end.text--grey
                    i.icon-clock
                    span.text__sm 16 марта 2017, 11:07
              a.search-results__item.is-row.stretch__xs(href='one-news.html')
                .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
                  .relative
                    i.is-icons.is-icons--news-arr
                    img(src='images/search.jpg', alt='')
                .search-results__item-desc.is-col.is-col__lg-6.is-col__xs-8
                  b.flex-top.text--uppercase Бизнес Парк имеет превосходную транспортную доступность
                  .flex-end.text--grey
                    i.icon-clock
                    span.text__sm 23 февраля 2017, 07:49
              a.search-results__item.is-row.stretch__xs(href='one-news.html')
                .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
                  .relative
                    i.is-icons.is-icons--news-arr
                    img(src='images/search.jpg', alt='')
                .search-results__item-desc.is-col.is-col__lg-6.is-col__xs-8
                  b.flex-top.text--uppercase Основным направлением в развитии Бизнес парка «На Цветочной, 18» является...
                  .flex-end.text--grey
                    i.icon-clock
                    span.text__sm 12 февраля 2017, 19:07
              a.search-results__item.is-row.stretch__xs(href='one-news.html')
                .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
                  .relative
                    i.is-icons.is-icons--news-arr
                    img(src='images/search.jpg', alt='')
                .search-results__item-desc.is-col.is-col__lg-6.is-col__xs-8
                  b.flex-top.text--uppercase Профессиональные управляющие компании осуществляют комплексное обслуживание...
                  .flex-end.text--grey
                    i.icon-clock
                    span.text__sm 23 февраля 2017, 07:49
              a.search-results__item.is-row.stretch__xs(href='one-news.html')
                .is-col.is-col__lg-2.is-col__md-3.is-col__xs-4
                  .relative
                    i.is-icons.is-icons--news-arr
                    img(src='images/search.jpg', alt='')
                .search-results__item-desc.is-col.is-col__lg-6.is-col__xs-8
                  b.flex-top.text--uppercase Основным направлением в развитии Бизнес парка «На Цветочной, 18» является...
                  .flex-end.text--grey
                    i.icon-clock
                    span.text__sm 17 января 2017, 10:25
