main.page-main
  include ../components/_breadcrumbs
  .news.uikit
    .container
      .is-col__lg-11.centered-block
        .is-row 
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-4.is-col__xs-12.hidden__sm.hidden__xs
            h1.text--grey О Бизнес Парке
            ul.aside-menu
              li.aside-menu__item
                a(href='#') О Компании
              li.aside-menu__item
                a.active(href='news.html') Новости
              li.aside-menu__item
                a(href='infrastructure.html') Инфраструктура
              li.aside-menu__item
                a(href='gallery.html') Медиатека
              li.aside-menu__item
                a(href='lease.html') Арендаторы
              li.aside-menu__item
                a(href='services.html') Услуги
              li.aside-menu__item
                a(href='advert.html') Размещение рекламы
          section.is-col.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12
            h2 Мы обладаем достаточными мощностями и всеми необходимыми ресурсами
              .text--grey
                i.icon-clock.text__md
                span.text__sm 23 февраля 2017, 07:49
            p: img(src='images/news-img.jpg', alt='')
            p Бизнес Парк «На Цветочной, 18» расположен в Московском районе Санкт-Петербурга, который является перспективным и активно развивающимся местом города, удачно интегрированным в транспортную структуру - в месте пересечения оживленных магистралей Лиговского, Витебского и Московского проспектов; в 15 минутах езды от аэропорта и центра города. Бизнес Парк имеет превосходную транспортную доступность и выгодное.
            h3 Бизнес Парк «На Цветочной, 18» расположен в Московском районе Санкт-Петербурга
            p Аренда помещений «На Цветочной , 18» является выгодным вложением средств благодаря всем вышеизложенным фактам. Мы уверены, что стоимость аренды офиса у нас станет для вас приятным сюрпризом, учитывая наличие на нашей территории объектов инфраструктуры, а также тот высокий уровень помещений и качество их обслуживания, которые мы предлагаем.месторасположение благодаря близости станции метрополитена.
            blockquote.blockquote.blockquote--cus
              .body Мы уверены, что стоимость аренды офиса у нас станет для вас приятным сюрпризом, учитывая наличие на нашей территории объектов инфраструктуры.
            p #[a(href='#')  Бизнес Парк «На Цветочной, 18»] расположен в Московском районе Санкт-Петербурга, который является перспективным и активно развивающимся местом города, удачно интегрированным в транспортную структуру - в месте пересечения оживленных магистралей Лиговского, Витебского и Московского проспектов; в 5 минутах езды от аэропорта и центра города. Бизнес Парк имеет превосходную транспортную доступность и выгодное .
            h4 Бизнес Парк «На Цветочной, 18» расположен в Московском районе Санкт-Петербурга
            h5 В офисном здании расположены:
            .is-row
              .is-col.is-col__md-6
                ol
                  li «Кафе на Цветочной»
                  li Минимаркет
                  li Магазин финских товаров
                  li Услуги дизайнерских фирм
              .is-col.is-col__md-6
                ul.list--bullet
                  li Офис оперативной полиграфии
                  li Прачечная
                  li Платежным терминал
                  li Услуги курьерских фирм
            h6 В офисном здании расположены:
            ul.list--corner
              li «Кафе на Цветочной»
              li Минимаркет
              li Магазин финских товаров
              li Услуги дизайнерских фирм
            blockquote.blockquote
              .body Мы уверены, что стоимость аренды офиса у нас станет для вас приятным сюрпризом, учитывая наличие на нашей территории объектов инфраструктуры.
              .author.text--right 
                b Семенов И.А. 
                .text--grey главный инженер
            h3 Свободные помещения в продаже            
            include ../components/_table
            
