main.page-main
  .page404
    .text--center
      .page404-title Ошибка 404 
      .page404-subtitle Извините, запрашиваемая страница не найдена
      ul.list--inline
        li: a.btn.btn__lg.btn--outlined.btn--cond(href='#') Вернуться назад
        li: a.btn.btn__lg.btn--primary.btn--cond(href='#') Вернуться на главную
