main.page-main
  include ../components/_breadcrumbs
  .card.uikit
    .container
      .is-col__lg-11.centered-block
        .is-row
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-4.is-col__xs-12
            h1.text--grey Балтийская, 59
            .card-info.text--uppercase.is-row
              .card-info__item.is-col.is-col__sm-6.is-col__xs-12
                span общая площадь
                .text--grey 10 230 м#[sup 2] 
              .card-info__item.is-col.is-col__sm-6.is-col__xs-12
                span количество этажей
                .text--grey 3
              .card-info__item.is-col.is-col__sm-6.is-col__xs-12
                span офисов в корпусе
                .text--grey 200
              .card-info__item.is-col.is-col__sm-6.is-col__xs-12
                span площади офисов
                .text--grey от 10 м#[sup 2]  до 230 м#[sup 2]
            .card-info-links
              .card-info-links__item.tableb-tablet
                a.btn.btn--unreal.btn--primary.btn__lg(href='#') записаться #[br]  на просмотр
              .card-info-links__item.tableb-tablet
                a.btn.btn--outlined.btn__lg.btn--cond.text--center(href='#') написать нам
          section.is-col.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12
            h2 Офисные, производственные и складские помещения
            b.text--uppercase Предлагаем вам офисные, производственные, складские помещения бюджетного варианта в двух многоэтажных зданиях
            p А также прилегающие к ним земельные участки на охраняемой территории в перспективном и развивающемся районе Санкт-Петербурга, который входит в губернаторскую программу делового развития города.
            h6 Объект расположен в пределах:
            ul.list--corner
              li 10 – 15 минутной пешеходной доступности до станции метро «Балтийская» (Балтийский вокзал)
              li 10 – 15 минутной пешеходной доступности до станции метро «Нарвская»
              li Магазин финских товаров
              li 20 минутной автомобильной доступности до исторического центра города (Невский проспект)
            p Данная территория находится в непосредственной близи от следующих основных городских магистралей - Набережная Обводного Канала и улицы маршала Говорова.
            blockquote.blockquote.blockquote--cus
              .body Объект снабжен всеми инженерными коммуникациями (водопровод и канализация, электричество, тепло, телефония, интернет и т.п.).
            b.text--uppercase особенность данного предложения:
            ul.list--bullet
              li Возможность согласования перепланировки помещений под ваши нужды.
              li Нестандартная планировка помещений, что позволяет подобрать максимально удобные площади под ваш бизнес.
              li Возможность размещения на одной площадке склада, производства и офиса.
              li Транспортная доступность объекта.
              li Обеспечение охранно-пропускной системы. Парковка на охраняемой территории объекта.
            include ../components/_gallery
