main.page-main
  include ../components/_breadcrumbs
  .services
    .container
      .is-col__lg-11.centered-block
        .is-row
          aside.is-col.is-col__xl-4.is-col__lg-5.is-col__md-4.is-col__xs-12.hidden__sm.hidden__xs
            h1.text--grey О Бизнес Парке
            ul.aside-menu
              li.aside-menu__item
                a(href='#') О Компании
              li.aside-menu__item
                a(href='news.html') Новости
              li.aside-menu__item
                a(href='infrastructure.html') Инфраструктура
              li.aside-menu__item
                a(href='gallery.html') Медиатека
              li.aside-menu__item
                a(href='lease.html') Арендаторы
              li.aside-menu__item
                a.active(href='services.html') Услуги
              li.aside-menu__item
                a(href='advert.html') Размещение рекламы
          section.is-col.is-col__xl-6.is-col__lg-7.is-col__md-8.is-col__xs-12
            h2= title
            h3 Что входит в арендную ставку?
            include ../components/_card-list
            h3 Дополнительные услуги
            .card-serv.is-row
              .card-serv__item.is-col.is-col__md-6.is-col__xs-12
                ul.list--unstyled
                  li
                    i.is-icons.is-icons--brush
                    span Клининговые услуги
                  li
                    i.is-icons.is-icons--parking
                    span Парковка
                  li
                    i.is-icons.is-icons--vega
                    span Юридические услуги
                  li
                    i.is-icons.is-icons--serv
                    span Услуги системного администратора
              .card-serv__item.is-col.is-col__md-6.is-col__xs-12
                ul.list--unstyled
                  li
                    i.is-icons.is-icons--star
                    span Охранное предприятие
                  li
                    i.is-icons.is-icons--bus
                    span Аренда автобуса
                  li
                    i.is-icons.is-icons--list
                    span Рекламные услуги
                  li
                    i.is-icons.is-icons--team
                    span Переговорные помещения

