extends layouts/_default

block title
    title Case__fly
    - var title = 'Найдено 43 объекта'

block pageName
    -var pageName = "index" 

block siteHeader
    include partials/_header

block siteMain
    include pages/_filter
    
block siteFooter
    include partials/_footer
