extends layouts/_default

block title
    title Case__fly
    - var title = 'По указанным параметрам все помещения заняты'

block pageName
    -var pageName = "index" 

block siteHeader
    include partials/_header

block siteMain
    include pages/_filter-nores
    
block siteFooter
    include partials/_footer
