extends layouts/_default

block title
    title Case__fly
    - var title = 'Кафе в Бизнес Парке' 

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_gallery-v
    
block siteFooter
    include partials/_footer
