extends layouts/_default

block title
    title Case__fly
    - var title = 'Найдено 43 объекта'

block pageName
    -var pageName = "fix" 

block siteHeader
    include partials/_header

block siteMain
    include pages/_genplan-1
    
block siteFooter
    include partials/_footer-fix
