extends layouts/_default

block title
    title Case__fly
    - var title = 'Main'

block pageName
    -var pageName = "fix"

block siteHeader
    include partials/_header-fix

block siteMain
    include pages/_index
