extends layouts/_default

block title
    title Case__fly
    - var title = 'Мы обладаем достаточными мощностями'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_one-news
    
block siteFooter
    include partials/_footer
